<div class="card">
  <a class="py-4" [routerLink]="['/products/details', product.productId]">
    <img class="card-img-top" [src]="product.keyMedia" alt="Card image cap" />
  </a>
  <div class="card-body">
    <a
      [routerLink]="['/products/details', product.productId]"
      class="card-title text-right"
    >
      {{ product.name }}
    </a>
    <div class="card-price">
      <div *ngIf="product.disCountPrice" class="d-flex align-items-center">
        <div class="discount rounded-pill mr-2">{{ product.discount }}%</div>
        <del class="first-price">{{ product.disCountPrice | number }} </del>
      </div>
      <div class="final-price d-flex">
        <span class="symbol pr-2 font-regular">تومان</span
        >{{ product.price | number }}
      </div>
    </div>
    <div *ngIf="product.timer" class="d-flex">
      <i class="fas fa-clock"></i>
      <div class="timer d-flex">1:1:1</div>
    </div>
  </div>
</div>
