@import "mixins";
.card {
  .card-title {
    display: flex;
    justify-content: flex-end;
    @include text-style($size: 0.857rem);
  }
  .card-price {
    .discount {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $secondary;
      font-weight: 400;
      color: rgb(37, 37, 37);
      min-width: 43px;
      height: 23px;
    }
    .first-price {
      color: #acacac;
    }
    .final-price {
      color: #000;
      font-weight: 700;
      .symbol {
        font-size: 14px;
      }
    }
  }
}
