<div class="card">
  <a [routerLink]="['/products/details', product.nameEn, product.productCode]">
    <img
      class="card-img-top"
      [src]="product.keyMedia | safe | async"
      alt="Card image cap"
    />
  </a>
  <div class="card-body">
    <a
      [routerLink]="[
        '/products/details',
        product.productId,
        product.productCode
      ]"
      class="card-title text-right"
    >
      {{ product.name }}
    </a>
    <div class="card-price">
      <div *ngIf="product.disCountPrice" class="d-flex align-items-center">
        <div class="discount rounded-pill mr-2">
          {{ discountPersent | number: "1.0-0" }}%
        </div>
        <del class="first-price">{{ product.disCountPrice | number }} </del>
      </div>
      <div class="final-price d-flex">
        <span class="symbol pr-2 font-regular">تومان</span
        >{{ product.price | number }}
      </div>
    </div>
    <div *ngIf="product.timer" class="d-flex">
      <i class="fas fa-clock"></i>
      <div class="timer d-flex">1:1:1</div>
    </div>
  </div>
</div>
