:host {
  position: relative;
  input.ui-inputtext {
    direction: rtl;
    width: 100%;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-radius: 3px;
  }
  i.fa-times.position-absolute {
    width: 24px;
    height: 24px;
    z-index: 900;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    &:hover {
      color: red !important;
      cursor: pointer;
    }
    &.disabled {
      user-select: none;
      &:hover {
        color: gray !important;
        cursor: default;
      }
    }
  }
}

dp-date-picker ::ng-deep .dp-picker-input {
  width: auto !important;
}

dp-time-select{
  direction: ltr;
}
