<div class="container-fluid">
  <div class="row">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="bg-white rounded-lg shadow-sm">
            <div class="row px-4 pt-4">
              <div class="col-12">
                <div class="d-flex align-items-center">
                  <img src="https://via.placeholder.com/80x80" alt="" />
                  <h5 class="mr-3">دسته بندی</h5>
                </div>
              </div>
              <div class="col-12">
                <ag-accordion>
                  <ag-accordion-item icon="fa-book" title="1st Week">
                    <accordion-content>
                      Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                      Excepturi deleniti earum voluptas nemo, eveniet, obcaecati
                      ratione dignissimos, ipsam molestias facilis officia quod!
                      Labore voluptas distinctio autem natus blanditiis nesciunt
                      quam.
                    </accordion-content>
                  </ag-accordion-item>
                  <ag-accordion-item icon="fa-book" title="2st Week">
                    <accordion-content>
                      Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                      Excepturi deleniti earum voluptas nemo, eveniet, obcaecati
                      ratione dignissimos, ipsam molestias facilis officia quod!
                      Labore voluptas distinctio autem natus blanditiis nesciunt
                      quam.
                    </accordion-content>
                  </ag-accordion-item>
                </ag-accordion>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
