<div class="container-fluid">
  <div class="row">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="bg-white rounded-lg shadow-sm">
            <div class="row px-4 pt-4">
              <div class="col-12">
                <div class="d-flex align-items-center">
                  <img class="category-img" [src]="category.keyMedia | safe | async"  />
                  <h5 class="mr-3">{{category.title}}</h5>
                </div>
              </div>
              <div class="col-12">
                <ag-accordion *ngIf="(data$ |async ) as data">
                  <ag-accordion-item
                    icon="fa-chek"
                    [title]="item.fAQ"
                    *ngFor="let item of data"
                  >
                    <accordion-content> {{item.answer}} </accordion-content>
                  </ag-accordion-item>
                </ag-accordion>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
