<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <ng-container *ngFor="let item of dialogConfig.data">
    <div [ngSwitch]="item.type" class="mb-2">
      <input
        type="hidden"
        *ngSwitchCase="'hidden'"
        [formControlName]="item.formControlName"
      />
      <prm-input-text
        *ngSwitchCase="'text'"
        [type]="item.inputMode || 'text'"
        [label]="item.label ? item.label : ''"
        [labelWidth]="item.labelWidth"
        [placeholder]="item.placeholder ? item.placeholder : ''"
        [readonly]="item.readonly"
        [formControlName]="item.formControlName"
        [errors]="item.errors"
        [numberOnly]="item.numberOnly"
        [maxlength]="item.maxLength"
      ></prm-input-text>
      <prm-input-dropdown
        *ngSwitchCase="'dropdown'"
        [label]="item.label ? item.label : ''"
        [labelWidth]="item.labelWidth"
        [placeholder]="item.placeholder ? item.placeholder : ''"
        [readonly]="item.readonly"
        [formControlName]="item.formControlName"
        [errors]="item.errors"
        [items]="item.dropdownItems"
      ></prm-input-dropdown>
      <prm-input-color-picker
        *ngSwitchCase="'color-picker'"
        [label]="item.label ? item.label : ''"
        [readonly]="true"
        [labelWidth]="item.labelWidth"
        [formControlName]="item.formControlName"
        [inline]="item.inline"
        [errors]="item.errors"
      ></prm-input-color-picker>
      <prm-input-date-time-picker
        *ngSwitchCase="'date-picker'"
        [label]="item.label ? item.label : ''"
        [labelWidth]="item.labelWidth"
        [formControlName]="item.formControlName"
        [errors]="item.errors"
      ></prm-input-date-time-picker>
      <prm-input-date-time-picker
        *ngSwitchCase="'time-picker'"
        [datePickerMode]="'time'"
        [label]="item.label ? item.label : ''"
        [labelWidth]="item.labelWidth"
        [formControlName]="item.formControlName"
        [errors]="item.errors"
      ></prm-input-date-time-picker>
      <ag-single-image-picker
        *ngSwitchCase="'image-picker'"
        [label]="item.label ? item.label : ''"
        [labelWidth]="item.labelWidth"
        [formControlName]="item.formControlName"
        [errors]="item.errors"
      ></ag-single-image-picker>
      <prm-input-editor
        *ngSwitchCase="'editor'"
        [label]="item.label ? item.label : ''"
        [labelWidth]="item.labelWidth"
        [formControlName]="item.formControlName"
        [errors]="item.errors"
      ></prm-input-editor>
      <prm-input-checkbox-single
        *ngSwitchCase="'checkbox'"
        [label]="item.label ? item.label : ''"
        [labelWidth]="item.labelWidth"
        [formControl]="form.get(item.formControlName)"
      ></prm-input-checkbox-single>
      <prm-input-tags
        *ngSwitchCase="'tags'"
        [field]="item.field"
        [label]="item.label ? item.label : ''"
        [labelWidth]="item.labelWidth"
        [formControl]="form.get(item.formControlName)"
      ></prm-input-tags>
    </div>
  </ng-container>
  <div class="d-flex justify-content-end">
    <prm-button
      label="ذخیره"
      icon="fa fa-plus"
      color="success"
      class="ml-2"
      type="submit"
    ></prm-button>
    <prm-button
      label="انصراف"
      type="button"
      icon="fa fa-times"
      color="danger"
      (click)="onCancel()"
    ></prm-button>
  </div>
</form>
