<form class="form-row" [formGroup]="form">
  <ng-container
    *ngFor="let categoryAttribute of categoryAttributes"
    [ngSwitch]="attributeTypes[categoryAttribute.attributeTypeId]"
  >
    <div
      class="col-12 "
      *ngIf="formItems.controls[categoryAttribute.attributeId + 'items']"
    >
      <prm-input-dropdown
        *ngSwitchCase="'Select'"
        labelPosition="top"
        [label]="categoryAttribute.attributeTitle"
        [labelWidth]="150"
        [formControlName]="categoryAttribute.attributeId"
        [items]="formItems.controls[categoryAttribute.attributeId + 'items'].value"
      ></prm-input-dropdown>
    </div>
    <div
      class="col-12 "
      *ngIf="formItems.controls[categoryAttribute.attributeId + 'items']"
    >
      <prm-input-multi-select
        *ngSwitchCase="'Multi Select'"
        [label]="categoryAttribute.attributeTitle"
        [labelWidth]="150"
        labelPosition="top"
        [formControlName]="categoryAttribute.attributeId"
        [items]="formItems.controls[categoryAttribute.attributeId + 'items'].value"
      ></prm-input-multi-select>
    </div>
    <prm-input-switch
      class="col-12 my-2"
      *ngSwitchDefault
      [label]="'فقط '+categoryAttribute.attributeTitle"
      [labelWidth]="150"
      [formControlName]="categoryAttribute.attributeId"
    ></prm-input-switch>
  </ng-container>
</form>