<div class="container-fluid">
  <div class="row">
    <div class="container">
      <div class="row mb-4">
        <div class="col-12">
          <div
            style="height: 300px"
            leaflet
            [leafletOptions]="options"
            [leafletLayers]="layers"
            (leafletClick)="leafletClick($event)"
          ></div>
        </div>
      </div>
      <form class="form-row" [formGroup]="form">
        <prm-input-dropdown
          *ngIf="convertedStates"
          class="col-6 mb-3"
          [items]="convertedStates"
          label="استان"
          labelPosition="top"
          formControlName="state"
          (onChange)="onStateChange($event)"
        ></prm-input-dropdown>
        <prm-input-dropdown
          [disabled]="!convertedCities"
          class="col-6 mb-3"
          [items]="convertedCities"
          label="شهر"
          labelPosition="top"
          formControlName="city"
          (onChange)="onCityChange($event)"
        ></prm-input-dropdown>
        <prm-input-dropdown
          [disabled]="!convertedDistricts"
          class="col-12 mb-3"
          [items]="convertedDistricts"
          label="محله"
          labelPosition="top"
          formControlName="district"
        ></prm-input-dropdown>
        <prm-input-text
          class="col-12 mb-3"
          label="نشانی پستی"
          labelPosition="top"
          formControlName="address"
        ></prm-input-text>
        <prm-input-text
          class="col-3 mb-3"
          label="پلاک"
          labelPosition="top"
          formControlName="plaque"
        ></prm-input-text>
        <prm-input-text
          class="col-3 mb-3"
          label="واحد"
          labelPosition="top"
          formControlName="unit"
        ></prm-input-text>
        <prm-input-text
          labelPosition="top"
          class="col-6 mb-3"
          label="کدپستی"
          formControlName="postalCode"
        ></prm-input-text>
        <prm-input-checkbox-single
          class="col-12 mb-3"
          label="گیرنده سفارش خودم هستم"
          [formControl]="form.get('isReceiver')"
        ></prm-input-checkbox-single>
        <div class="col-12" *ngIf="form.get('isReceiver').value == false">
          <div class="row">
            <prm-input-text
              labelPosition="top"
              class="col-6 mb-3"
              label="نام گیرنده"
              formControlName="firstName"
            ></prm-input-text>
            <prm-input-text
              labelPosition="top"
              class="col-6 mb-3"
              label="نام خانوادگی گیرنده"
              formControlName="lastName"
            ></prm-input-text>
            <prm-input-text
              labelPosition="top"
              class="col-6 mb-3"
              label="کدملی گیرنده"
              formControlName="nationalCode"
            ></prm-input-text>
            <prm-input-text
              labelPosition="top"
              class="col-6 mb-3"
              label="شماره موبایل"
              formControlName="mobileNo"
            ></prm-input-text>
          </div>
        </div>
        <div class="py-4 border-top col-12 text-left">
          <prm-button
            label="تایید و ثبت"
            color="primary"
            (click)="onSubmitAddress()"
          ></prm-button>
        </div>
      </form>
    </div>
  </div>
</div>
