<div class="address-box py-2 border-bottom" *ngFor="let address of addresses">
  <div class="d-flex align-items-center justify-content-between">
    <div class="full-address">{{ address.address }}</div>
    <div class="actions">
      <button class="btn btn-danger p-1 ml-2">
        <small (click)="onRemoveClick(address.id)">حذف</small>
      </button>
      <button (click)="onEditClick(address)" class="btn btn-primary p-1">
        <small>ویرایش</small>
      </button>
    </div>
  </div>
  <div class="text-muted d-flex align-items-center">
    <i class="fa fa-user ml-2"></i>
    <span>
      <small>تهران، تهران</small>
    </span>
  </div>
  <div class="text-muted d-flex align-items-center">
    <i class="fa fa-user ml-2"></i>
    <span>
      <small>{{ address.postalCode }}</small>
    </span>
  </div>
  <div class="text-muted d-flex align-items-center">
    <i class="fa fa-user ml-2"></i>
    <span>
      <small>{{ address.mobileNo }}</small>
    </span>
  </div>
  <div class="text-muted d-flex align-items-center">
    <i class="fa fa-user ml-2"></i>
    <span>
      <small>{{ address.firstName }} {{ address.lastName }}</small>
    </span>
  </div>
</div>
<button (click)="onAddClick()" class="btn btn-primary p-1">
  <small>افزودن</small>
</button>
<!--
<p-dialog
  header="ویرایش مقادیر اولیه"
  [(visible)]="showAddressDetailsDialog"
  [modal]="true"
  [draggable]="false"
  [blockScroll]="true"
  [style]="{ width: '800px' }"
>

  <div *ngIf="showMap">
    <div
      style="height: 500px"
      leaflet
      [leafletOptions]="options"
      [leafletLayers]="layers"
      (leafletClick)="leafletClick($event)"
    ></div>
    <button (click)="addAddressDetail()" class="btn btn-primary p-1">
      <small>ثبت و افزودن  جزییات</small>
    </button>
  </div>
  <div *ngIf="!showMap">

  </div>
</p-dialog> -->
