<div class="address-box py-2 border-bottom">
  <div class="d-flex align-items-center justify-content-between">
    <div class="full-address">خانی ابادنو-شهرک شریعتی</div>
    <div class="actions">
      <button class="btn btn-danger p-1 ml-2">
        <small>حذف</small>
      </button>
      <button class="btn btn-primary p-1">
        <small>ویرایش</small>
      </button>
    </div>
  </div>
  <div class="text-muted d-flex align-items-center">
    <i class="fa fa-user ml-2"></i>
    <span>
      <small>تهران، تهران</small>
    </span>
  </div>
  <div class="text-muted d-flex align-items-center">
    <i class="fa fa-user ml-2"></i>
    <span>
      <small>تهران، تهران</small>
    </span>
  </div>
  <div class="text-muted d-flex align-items-center">
    <i class="fa fa-user ml-2"></i>
    <span>
      <small>تهران، تهران</small>
    </span>
  </div>
</div>
