prm-input-container {
  ::ng-deep .radio-group-container {
    display: flex;
    p-radioButton {
      .ui-radiobutton {
        vertical-align: middle;
      }
      &.rtl {
        .ui-radiobutton-label {
          margin: 0 0.5em 0 0;
        }
      }
      &.mr-2:last-child {
        margin-right: 0 !important;
      }
      &.ml-2:last-child {
        margin-left: 0 !important;
      }
      &.mb-2:last-child {
        margin-bottom: 0 !important;
      }
    }
  }
}
