<div class="container-fluid">
  <div class="row">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-9">
          <div class="bg-white rounded-lg shadow-sm p-4 text-center">
            <i
              class="fa fa-times text-white rounded-circle display-2 bg-danger"
            ></i>
            <p class="h3 my-5">متاسفانه پرداخت شما ناموفق بود!</p>
            <h6 class="text-muted mb-4">
              چنانچه مبلغی از حساب شما کسر شده است، تا ۲۴ ساعت آینده به حساب شما
              باز خواهد گشت.
            </h6>
            <button class="btn btn-primary btn-lg" routerLink="/">
              بازگشت به صفحه اصلی
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
