@import "mixins";

.nav-item {
  cursor: pointer;
  .nav-link {
    @include text-style($title-color3, $font-size-md);
    &:after {
      content: none;
    }
  }
  .dropdown-menu {
    left: 0;
    right: auto;

    .dropdown-item {
      @include text-style($body-color, $font-size-md);
      @include text-style($body-color, $font-size-md);
    }
    .dropdown-item.active, .dropdown-item:active{
      background-color: $primary;
    }
    @include extraSmall() {
      left: 0 !important;
      right: auto !important;
    }
  }
}