<prm-input-container [config]="containerConfig">
  <input
    [dir]="layout == 'ltr' ? 'ltr' : 'rtl'"
    [ngClass]="{ 'ui-rtl rtl': layout == 'rtl' }"
    [id]="id"
    [disabled]="disabled"
    [readonly]="readonly"
    [placeholder]="placeholder"
    [name]="name"
    type="password"
    class="flex-grow-1"
    pPassword
    [(ngModel)]="value"
    [promptLabel]="promptLabel"
    [weakLabel]="weakLabel"
    [mediumLabel]="mediumLabel"
    [strongLabel]="strongLabel"
    [feedback]="feedback"
    [showPassword]="showPassword"
    [beforeAfter]="beforeAfterConfig"
    (input)="_onInput()"
    (blur)="_onBlur()"
    (focus)="_onFocus()"
  />
</prm-input-container>
