<div class="container-fluid" *ngIf="userProfile">
  <div class="row">
    <div class="container">
      <div class="row">
        <div class="col-3">
          <div class="nav flex-column nav-pills border rounded" #navs>
            <div class="bg-light rounded-top d-flex align-items-center p-2">
              <img
                (click)="onAvatarClick()"
                [src]="'../../../../../assets/images/avatar/'+ (userProfile?.avatar || '1.png')"
                class="rounded-circle"
              />
              <div class="user-info mr-3">
                <p class="mb-0">
                  {{userProfile.firstName + ' ' + userProfile.lastName}}
                </p>
                <small class="text-muted">09391886467</small>
              </div>
            </div>
            <a
              class="nav-link active"
              (click)="onClickTab($event,tabPans,navs,'orders')"
              >سفارش های من</a
            >
            <a
              class="nav-link"
              (click)="onClickTab($event,tabPans,navs,'profile')"
              >پروفایل کاربری</a
            >
            <a
              class="nav-link"
              (click)="onClickTab($event,tabPans,navs,'address')"
              >آدرس ها</a
            >
            <button
              type="button"
              class="btn btn-link text-right text-danger mt-4 border-top"
            >
              خروج از حساب
            </button>
          </div>
        </div>
        <div class="col-9">
          <div class="tab-content" #tabPans>
            <div class="tab-pane fade orders show active">
              <div class="bg-white p-3 border shadow-sm rounded-lg">
                <p-table [columns]="cols" [value]="cars" dataKey="vin">
                  <ng-template pTemplate="header" let-columns>
                    <tr>
                      <th style="width: 3em"></th>
                      <th *ngFor="let col of columns">{{col.header}}</th>
                    </tr>
                  </ng-template>
                  <ng-template
                    pTemplate="body"
                    let-rowData
                    let-expanded="expanded"
                    let-columns="columns"
                  >
                    <tr>
                      <td>
                        <a href="#" [pRowToggler]="rowData">
                          <i
                            [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
                          ></i>
                        </a>
                      </td>
                      <td *ngFor="let col of columns">
                        {{rowData[col.field]}}
                      </td>
                    </tr>
                  </ng-template>
                  <ng-template
                    pTemplate="rowexpansion"
                    let-rowData
                    let-columns="columns"
                  >
                    <tr>
                      <td [attr.colspan]="columns.length + 1">
                        <div
                          class="p-grid -fluid"
                          style="font-size: 16px; padding: 20px"
                        >
                          <div
                            class="p-col-12 p-md-3"
                            style="text-align: center"
                          >
                            <img
                              [attr.alt]="rowData.brand"
                              src="assets/showcase/images/demo/car/{{rowData.brand}}.png"
                            />
                          </div>
                          <div class="p-col-12 p-md-9">
                            <div class="p-grid">
                              <div class="p-col-12">
                                <b>Vin:</b> {{rowData.vin}}
                              </div>
                              <div class="p-col-12">
                                <b>Year:</b> {{rowData.year}}
                              </div>
                              <div class="p-col-12">
                                <b>Brand:</b> {{rowData.brand}}
                              </div>
                              <div class="p-col-12">
                                <b>Color:</b> {{rowData.color}}
                              </div>
                            </div>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </ng-template>
                </p-table>
              </div>
            </div>
            <div class="tab-pane fade profile">
              <div class="bg-white p-3 border shadow-sm rounded-lg mb-3">
                <div class="row">
                  <div class="col-12">
                    <h5>اطلاعات حساب</h5>
                  </div>
                  <div class="col-6">
                    <div
                      class="box d-flex align-items-center justify-content-between py-3 border-bottom"
                    >
                      <div class="info">
                        <p class="mb-0">نام و نام خانوادگی</p>
                        <span class="text-muted"
                          >{{(userProfile.firstName + " " +
                          userProfile.lastName) || '-'}}</span
                        >
                      </div>
                      <i class="fa fa-edit" (click)="onEditFullName()"></i>
                    </div>
                  </div>
                  <div class="col-6">
                    <div
                      class="box d-flex align-items-center justify-content-between py-3 border-bottom"
                    >
                      <div class="info">
                        <p class="mb-0">کدملی</p>
                        <span class="text-muted"
                          >{{userProfile.nationalCode || '-'}}</span
                        >
                      </div>
                      <i class="fa fa-edit" (click)="onEditNationalCode()"></i>
                    </div>
                  </div>
                  <div class="col-6">
                    <div
                      class="box d-flex align-items-center justify-content-between py-3 border-bottom"
                    >
                      <div class="info">
                        <p class="mb-0">ایمیل</p>
                        <span class="text-muted"
                          >{{userProfile.email || '-'}}</span
                        >
                      </div>
                      <i class="fa fa-edit" (click)="onEditEmail()"></i>
                    </div>
                  </div>
                  <div class="col-6">
                    <div
                      class="box d-flex align-items-center justify-content-between py-3 border-bottom"
                    >
                      <div class="info">
                        <p class="mb-0">تاریخ تولد</p>
                        <span class="text-muted"
                          >{{userProfile.birthDate || '-'}}</span
                        >
                      </div>
                      <i class="fa fa-edit" (click)="onEditBirthDate()"></i>
                    </div>
                  </div>
                  <div class="col-6">
                    <div
                      class="box d-flex align-items-center justify-content-between py-3 border-bottom"
                    >
                      <div class="info">
                        <p class="mb-0">شغل</p>
                        <span class="text-muted">{{ jobTitle || '-'}}</span>
                      </div>
                      <i class="fa fa-edit" (click)="onEditJob()"></i>
                    </div>
                  </div>
                  <div class="col-6">
                    <div
                      class="box d-flex align-items-center justify-content-between py-3 border-bottom"
                    >
                      <div class="info">
                        <p class="mb-0">شماره کارت جهت مرجوعی وجه</p>
                        <span class="text-muted"
                          >{{userProfile.cardNumber || '-'}}</span
                        >
                      </div>
                      <i class="fa fa-edit" (click)="onEditCarNumber()"></i>
                    </div>
                  </div>
                  <div class="col-6">
                    <div
                      class="box d-flex align-items-center justify-content-between py-3 border-bottom"
                    >
                      <div class="info">
                        <p class="mb-0">رمز عبور</p>
                        <span class="text-muted">******</span>
                      </div>
                      <i class="fa fa-edit" (click)="onEditPasword()"></i>
                    </div>
                  </div>
                </div>
              </div>

              <div class="bg-white p-3 border shadow-sm rounded-lg">
                <div class="row">
                  <div class="col-12">
                    <h5>اطلاعات حقوقی</h5>
                  </div>
                </div>
                <form class="form-row" [formGroup]="form">
                  <prm-input-text
                    [errors]="errors"
                    class="col-6 mb-3"
                    label="نام سازمان"
                    labelPosition="top"
                    formControlName="name"
                  ></prm-input-text>
                  <prm-input-text
                    [errors]="errors"
                    class="col-6 mb-3"
                    label="کد اقتصادی"
                    labelPosition="top"
                    formControlName="economicCode"
                  ></prm-input-text>
                  <prm-input-text
                    [errors]="errors"
                    class="col-6 mb-3"
                    label="شناسه ملی"
                    labelPosition="top"
                    formControlName="nationalId"
                  ></prm-input-text>
                  <prm-input-text
                    [errors]="errors"
                    class="col-6 mb-3"
                    label="شناسه ثبت"
                    labelPosition="top"
                    formControlName="registrationId"
                  ></prm-input-text>
                  <prm-input-dropdown
                    [errors]="errors"
                    *ngIf="convertedStates"
                    class="col-6 mb-3"
                    [items]="convertedStates"
                    label="استان"
                    labelPosition="top"
                    formControlName="state"
                    (onChange)="onStateChange($event)"
                  ></prm-input-dropdown>
                  <prm-input-dropdown
                    [errors]="errors"
                    [disabled]="!convertedCities"
                    class="col-6 mb-3"
                    [items]="convertedCities"
                    label="شهر"
                    labelPosition="top"
                    formControlName="city"
                    (onChange)="onCityChange($event)"
                  ></prm-input-dropdown>
                  <prm-input-text
                    [errors]="errors"
                    class="col-6 mb-3"
                    label="شماره تلفن ثابت"
                    labelPosition="top"
                    formControlName="telNumber"
                  ></prm-input-text>
                  <div class="pt-4 border-top col-12 text-left">
                    <prm-button
                      label="تایید و ثبت"
                      color="primary"
                      [type]="'submit'"
                      (click)="onSubmitOrganization()"
                    ></prm-button>
                  </div>
                </form>
              </div>
            </div>
            <div class="tab-pane fade address">
              <div class="bg-white p-3 border shadow-sm rounded-lg">
                <address-info [address]="address[0]"></address-info>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <p-dialog
    header="تغییر نمایه کاربری شما"
    [(visible)]="showAvatarDialog"
    [modal]="true"
    [draggable]="false"
    [blockScroll]="true"
    [style]="{ width: '800px' }"
  >
    <div class="col-12">
      <div class="row">
        <div
          *ngFor="let avatar of avatars"
          class="col-4 d-flex justify-content-center"
        >
          <img
            (click)="onEditAvatar(avatar)"
            [src]="'../../../../../assets/images/avatar/'+avatar+'.png'"
            class="rounded-circle"
          />
        </div>
      </div>
    </div>
  </p-dialog>
</div>
