<div class="container-fluid" *ngIf="userProfile">
  <div class="row">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-xl-3">
          <div class="nav flex-column nav-pills border rounded bg-white" #navs>
            <div
              class="bg-light rounded-top d-flex align-items-center p-2 border-bottom"
            >
              <img
                (click)="onAvatarClick()"
                [src]="'../../../../../assets/images/avatar/'+ (userProfile.avatar+'.png' || '1.png')"
                alt="کاربر"
                class="rounded-circle avatar"
              />
              <div class="user-info mr-3">
                <p class="mb-0">
                  {{userProfile.firstName + ' ' + userProfile.lastName}}
                </p>
                <small class="text-muted">{{userProfile.mobileNo}}</small>
              </div>
            </div>
            <a
              class="nav-link active"
              (click)="onClickTab($event,tabPans,navs,'orders')"
            >
              <i class="fa fa-list ml-3 align-middle"></i>
              سفارش های من
            </a>
            <a
              class="nav-link"
              (click)="onClickTab($event,tabPans,navs,'profile')"
            >
              <i class="fa fa-user ml-3 align-middle"></i>
              پروفایل کاربری
            </a>
            <a
              class="nav-link"
              (click)="onClickTab($event,tabPans,navs,'address')"
            >
              <i class="fa fa-map-marker-alt ml-3 align-middle"></i>
              آدرس ها
            </a>
            <button
              (click)="logout()"
              type="button"
              class="btn btn-link text-right text-danger py-3 border-top"
            >
              <i class="fa fa-sign-out ml-3 align-middle"></i>
              خروج از حساب
            </button>
          </div>
        </div>
        <div class="col-lg-8 col-xl-9">
          <div class="tab-content" #tabPans>
            <div class="tab-pane fade orders show active">
              <div class="bg-white p-3 border shadow-sm rounded-lg">
                <p-tabView
                  [activeIndex]="activeIndex"
                  (onChange)="tabIndexChenge($event)"
                >
                  <p-tabPanel
                    *ngFor="let state of orderStates$;let i=index"
                    [header]="state.title"
                  >
                    <ng-container *ngIf="orders.length != 0;else noOrder">
                      <p-table
                        *ngIf="activeIndex==i"
                        [columns]="cols"
                        [value]="orders"
                        dataKey="orderId"
                      >
                        <ng-template pTemplate="header" let-columns>
                          <tr>
                            <th *ngFor="let col of columns">{{col.header}}</th>
                            <th style="width: 5em">جزئیات</th>
                          </tr>
                        </ng-template>
                        <ng-template
                          pTemplate="body"
                          let-rowData
                          let-expanded="expanded || false"
                          let-columns="columns"
                        >
                          <tr>
                            <td *ngFor="let col of columns">
                              {{col.field == 'price' ?( (rowData[col.field] |
                              number) + ' تومان') : rowData[col.field]}}
                            </td>
                            <td class="text-center">
                              <a
                                href="#"
                                [pRowToggler]="rowData"
                                (click)="onOrderDetailClick(rowData,expanded)"
                              >
                                <i
                                  class="align-middle"
                                  [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
                                ></i>
                              </a>
                            </td>
                          </tr>
                        </ng-template>
                        <ng-template
                          pTemplate="rowexpansion"
                          let-rowData
                          let-columns="columns"
                        >
                          <tr>
                            <td [attr.colspan]="columns.length + 1">
                              <div class="container-fluid">
                                <div
                                  class="row border-bottom py-2"
                                  *ngFor="let p of orderProducts$ | async"
                                >
                                  <div
                                    class="col-sm-4 col-xl-3 d-flex align-items-center justify-content-center mb-3 mb-sm-0"
                                  >
                                    <img
                                      class="w-100"
                                      [src]="p.keyMedia | safe | async"
                                    />
                                  </div>
                                  <div class="col-sm-8 col-xl-9">
                                    <ul
                                      class="features list-unstyled p-0 text-muted"
                                    >
                                      <li
                                        class="d-flex align-items-center mb-3"
                                      >
                                        <small>{{p.name}}</small>
                                      </li>
                                      <li
                                        class="d-flex align-items-center mb-3"
                                      >
                                        <i class="fa fa-tint ml-2"></i>
                                        <small>{{p.colorTitle}}</small>
                                      </li>
                                      <li
                                        class="d-flex align-items-center mb-3"
                                      >
                                        <i class="fa fa-shield-check ml-2"></i>
                                        <small>{{p.warrantyTitle}}</small>
                                      </li>
                                      <li
                                        class="d-flex align-items-center mb-3"
                                      >
                                        <i class="fa fa-store ml-2"></i>
                                        <small>{{p.storeTitle}}</small>
                                      </li>
                                    </ul>
                                    <!-- <b>قیمت واحد : </b> {{rowData.color}} -->
                                  </div>
                                </div>
                              </div>
                            </td>
                          </tr>
                        </ng-template>
                      </p-table>
                    </ng-container>
                    <ng-template #noOrder>
                      <p class="text-muted py-3 text-center">
                        سفارش فعالی در این بخش وجود ندارد.
                      </p>
                    </ng-template>
                  </p-tabPanel>
                </p-tabView>
              </div>
            </div>
            <div class="tab-pane fade profile">
              <div class="bg-white p-3 border shadow-sm rounded-lg mb-3">
                <div class="row">
                  <div class="col-12">
                    <h5>اطلاعات حساب</h5>
                  </div>
                  <div class="col-md-6">
                    <div
                      class="box d-flex align-items-center justify-content-between py-3 border-bottom"
                    >
                      <div class="info">
                        <p class="mb-0">نام و نام خانوادگی</p>
                        <span class="text-muted"
                          >{{(userProfile.firstName + " " +
                          userProfile.lastName) || '-'}}</span
                        >
                      </div>
                      <i class="fa fa-edit" (click)="onEditFullName()"></i>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div
                      class="box d-flex align-items-center justify-content-between py-3 border-bottom"
                    >
                      <div class="info">
                        <p class="mb-0">کدملی</p>
                        <span class="text-muted"
                          >{{userProfile.nationalCode || '-'}}</span
                        >
                      </div>
                      <i class="fa fa-edit" (click)="onEditNationalCode()"></i>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div
                      class="box d-flex align-items-center justify-content-between py-3 border-bottom"
                    >
                      <div class="info">
                        <p class="mb-0">ایمیل</p>
                        <span class="text-muted"
                          >{{userProfile.email || '-'}}</span
                        >
                      </div>
                      <i class="fa fa-edit" (click)="onEditEmail()"></i>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div
                      class="box d-flex align-items-center justify-content-between py-3 border-bottom"
                    >
                      <div class="info">
                        <p class="mb-0">تاریخ تولد</p>
                        <span class="text-muted"
                          >{{userProfile.birthDate || '-'}}</span
                        >
                      </div>
                      <i class="fa fa-edit" (click)="onEditBirthDate()"></i>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div
                      class="box d-flex align-items-center justify-content-between py-3 border-bottom"
                    >
                      <div class="info">
                        <p class="mb-0">شغل</p>
                        <span class="text-muted">{{ jobTitle || '-'}}</span>
                      </div>
                      <i class="fa fa-edit" (click)="onEditJob()"></i>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div
                      class="box d-flex align-items-center justify-content-between py-3 border-bottom"
                    >
                      <div class="info">
                        <p class="mb-0">شماره کارت جهت مرجوعی وجه</p>
                        <span class="text-muted"
                          >{{userProfile.cardNumber || '-'}}</span
                        >
                      </div>
                      <i class="fa fa-edit" (click)="onEditCarNumber()"></i>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div
                      class="box d-flex align-items-center justify-content-between py-3 border-bottom"
                    >
                      <div class="info">
                        <p class="mb-0">رمز عبور</p>
                        <span class="text-muted">******</span>
                      </div>
                      <i class="fa fa-edit" (click)="onEditPasword()"></i>
                    </div>
                  </div>
                </div>
              </div>

              <div class="bg-white p-3 border shadow-sm rounded-lg">
                <div class="row pb-3">
                  <div class="col-12">
                    <h5>اطلاعات حقوقی</h5>
                  </div>
                </div>
                <form class="form-row" [formGroup]="organizationForm">
                  <prm-input-text
                    [errors]="[{type: 'required',message: 'این فیلد الزامیست'}]"
                    class="col-md-6 mb-3"
                    label="نام سازمان"
                    labelPosition="top"
                    formControlName="name"
                  ></prm-input-text>
                  <prm-input-text
                    [errors]="[{type: 'required',message: 'این فیلد الزامیست'}]"
                    class="col-md-6 mb-3"
                    label="کد اقتصادی"
                    labelPosition="top"
                    formControlName="economicCode"
                  ></prm-input-text>
                  <prm-input-text
                    [errors]="[{type: 'required',message: 'این فیلد الزامیست'}]"
                    class="col-md-6 mb-3"
                    label="شناسه ملی"
                    labelPosition="top"
                    formControlName="nationalId"
                  ></prm-input-text>
                  <prm-input-text
                    [errors]="[{type: 'required',message: 'این فیلد الزامیست'}]"
                    class="col-md-6 mb-3"
                    label="شناسه ثبت"
                    labelPosition="top"
                    formControlName="registrationId"
                  ></prm-input-text>
                  <prm-input-dropdown
                    [errors]="[{type: 'required',message: 'این فیلد الزامیست'}]"
                    *ngIf="convertedStates"
                    class="col-md-6 mb-3"
                    [items]="convertedStates"
                    label="استان"
                    labelPosition="top"
                    formControlName="state"
                    (onChange)="onStateChange($event)"
                  ></prm-input-dropdown>
                  <prm-input-dropdown
                    [errors]="[{type: 'required',message: 'این فیلد الزامیست'}]"
                    [disabled]="!convertedCities"
                    class="col-md-6 mb-3"
                    [items]="convertedCities"
                    label="شهر"
                    labelPosition="top"
                    formControlName="city"
                    (onChange)="onCityChange($event)"
                  ></prm-input-dropdown>
                  <prm-input-text
                    [errors]="[{type: 'required',message: 'این فیلد الزامیست'}]"
                    class="col-md-6 mb-3"
                    label="شماره تلفن ثابت"
                    labelPosition="top"
                    [numberOnly]="true"
                    maxlength="11"
                    formControlName="telNumber"
                  ></prm-input-text>
                  <div class="pt-3 border-top col-12 text-left">
                    <button
                      class="btn btn-primary"
                      type="submit"
                      (click)="onSubmitOrganization()"
                    >
                      تایید و ثبت
                    </button>
                  </div>
                </form>
              </div>
            </div>
            <div class="tab-pane fade address">
              <div class="bg-white p-3 border shadow-sm rounded-lg">
                <address-info
                  (onRemoveAddress)="onRemoveAddress($event)"
                  (onEditAddress)="onEditAddress($event)"
                  (onAddAddress)="onAddAddress($event)"
                  [addresses]="addresses"
                ></address-info>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <p-dialog
    header="تغییر نمایه کاربری شما"
    [(visible)]="showAvatarDialog"
    [modal]="true"
    [draggable]="false"
    [blockScroll]="true"
    [style]="{ width: '800px'}"
  >
    <div class="col-12">
      <div class="row">
        <div
          *ngFor="let avatar of avatarNames"
          class="col-4 d-flex justify-content-center"
        >
          <img
            alt="کاربر"
            (click)="onEditAvatar(avatar)"
            [src]="'../../../../../assets/images/avatar/'+avatar+'.png'"
            class="rounded-circle avatar my-2"
          />
        </div>
      </div>
    </div>
  </p-dialog>
</div>
