.fa-edit {
  cursor: pointer;
}

.nav-link {
  cursor: pointer;
}

p-table ::ng-deep tbody {
  .pi-chevron-right:before {
    content: "\e900" !important;
  }
}

.avatar {
  cursor: pointer;
  width: 65px !important;
  height: 65px !important;
}

p-tabView ::ng-deep .ui-tabview-nav {
  li {
    float: right;
    text-align: center;
    a {
      width: 100%;
    }
  }
}
