.fa-edit {
  cursor: pointer;
}

.nav-link {
  cursor: pointer;
}

p-table ::ng-deep tbody {
  .pi-chevron-right:before {
    content: "\e900" !important;
  }
}

address-info:last-of-type ::ng-deep .address-box {
  border: 0 !important;
}

