<prm-input-container [config]="containerConfig">
  <p-autoComplete
    [dir]="layout == 'ltr' ? 'ltr' : 'rtl'"
    [ngClass]="{ 'ui-rtl rtl': layout == 'rtl' }"
    [inputId]="id"
    [placeholder]="placeholder"
    [disabled]="disabled"
    [readonly]="readonly"
    [maxlength]="maxlength"
    [minLength]="minLength"
    [autoHighlight]="autoHighlight"
    [style]="style"
    [inputStyle]="inputStyle"
    [name]="name"
    [suggestions]="filteredItems"
    [size]="30"
    [field]="field"
    [multiple]="multiple"
    [forceSelection]="forceSelection"
    [unique]="unique"
    [dropdown]="showDropdown"
    [emptyMessage]="emptyMessage"
    [beforeAfter]="beforeAfterConfig"
    [(ngModel)]="value"
    (completeMethod)="filterItem($event)"
    (onDropdownClick)="_onDropdownClick()"
    (onBlur)="_onBlur()"
    (onFocus)="_onFocus()"
    (onSelect)="_onSelect()"
    (onUnselect)="_onUnSelect()"
    (onClear)="_onClear()"
    (onKeyUp)="_onKeyUp()"
  ></p-autoComplete>
</prm-input-container>
