@import "mixins";

.navbar {
  transition: all 0.4s;
  user-select: none;
  height: 65px;
  &:first-child {
    z-index: 1000;
  }

  i,
  a,
  .navbar-brand {
    cursor: pointer;
  }
  input,
  .btns {
    @include text-style($size: $font-size-sm);
  }
  .navbar-collapse {
    position: relative;
    a {
      @include text-style($subtitle-color, $font-size-sm);
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      border-bottom: 2px solid transparent;
      &:hover {
        border-bottom-color: $primary;
      }
    }
    .mega-menu {
      position: static;
      &:hover {
        .mega-menu-content {
          display: block;
        }
      }
      .mega-menu-content {
        z-index: 999;
        display: none;
        position: absolute;
        background-color: $white;
        width: 100%;
        left: 0;
        border-radius: 0 0 8px 8px;
        .sub-category {
          &,
          & > ul {
            overflow-x: auto;
            max-height: 528px;
          }
          li {
            @include text-style($subtitle-color, $font-size-sm, 2.44);
          }
          .li:hover {
            color: $primary;
            cursor: pointer;
          }
          .parent-menu {
            font-size: 16px;
          }
        }
        .main-category {
          &,
          & > ul {
            overflow-y: auto;
            max-height: 528px;
          }
          li {
            @include text-style($subtitle-color, $font-size-sm, 3);
            border: 1px solid transparent;
            &:hover {
              border-top-color: $gray-002;
              border-bottom-color: $gray-002;
              background-color: $gray-001;
              color: $primary;
            }
          }
        }
      }
    }
  }
}

.bg-active {
  border-top-color: $gray-002;
  border-bottom-color: $gray-002;
  background-color: $gray-001;
  color: $primary;
}

.navbar.navbar-top {
  height: auto;
  @include large() {
    height: 65px;
  }
}

.hide {
  transform: translateY(-65px);
  height: 0;
  padding: 0;
}

.show {
  transform: translateY(0);
  height: 65px;
}

.pointer {
  cursor: pointer;
}

ag-logo ::ng-deep .wrapper {
  margin: auto;
}
