<div class="container-fluid bg-white">
  <div class="row">
    <div class="container px-0">
      <nav class="navbar navbar-light justify-content-between">
        <ag-dropdown class="list-unstyled"></ag-dropdown>
        <div class="d-flex align-items-center">
          <form class="form-inline">
            <input
              class="form-control mr-sm-2"
              type="search"
              placeholder="Search"
            />
          </form>
          <a class="navbar-brand">Navbar</a>
        </div>
      </nav>
      <nav class="navbar navbar-expand-lg navbar-light">
        <button class="navbar-toggler" type="button">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end">
          <div class="navbar-nav">
            <a class="nav-item nav-link">Home</a>
            <a class="nav-item nav-link">Features</a>
            <a class="nav-item nav-link">Pricing</a>
          </div>
        </div>
      </nav>
    </div>
  </div>
</div>
