<prm-input-container [config]="containerConfig">
  <p-dropdown
    [dir]="layout == 'ltr' ? 'ltr' : 'rtl'"
    [ngClass]="{ 'ui-rtl rtl': layout == 'rtl' }"
    class="flex-grow-1 align-self-stretch"
    [options]="_items"
    [name]="name"
    [(ngModel)]="value"
    [showClear]="showClear"
    [editable]="editable"
    [placeholder]="placeholder"
    [scrollHeight]="scrollHeight"
    [filter]="filter"
    [filterBy]="filterBy"
    [filterMatchMode]="filterMatchMode"
    [filterPlaceholder]="filterPlaceholder"
    [disabled]="disabled"
    [readonly]="readonly"
    [selectId]="selectId"
    [inputId]="id"
    [optionLabel]="field"
    [dataKey]="dataKey"
    [resetFilterOnHide]="resetFilterOnHide"
    [emptyFilterMessage]="emptyFilterMessage"
    [autoDisplayFirst]="autoDisplayFirst"
    [tooltip]="tooltip"
    [tooltipPos]="tooltipPos"
    [style]="style"
    [panelStyle]="panelStyle"
    [group]="group"
    [beforeAfter]="beforeAfterConfig"
    (onShow)="_onShow()"
    (onChange)="_onChange($event)"
    (onFocus)="_onFocus()"
    (onHide)="_onHide()"
    (onBlur)="_onBlur()"
  >
  </p-dropdown>
</prm-input-container>
