<div class="container-fluid">
  <div class="row">
    <div class="container">
      <div class="row">
        <div class="mb-4 mb-lg-0 col-lg-3">
          <div
            class="bg-white rounded-lg shadow-sm"
            *ngIf="convertedCategories&&convertedCategories.length>0"
          >
            <p-tree [value]="convertedCategories" dir="rtl" class="rtl ui-rtl">
              <ng-template let-node pTemplate="default">
                <div class="d-flex align-items-center">
                  <a
                    class="text-dark"
                    [routerLink]="['/products/subcategory/',node.data.id,node.label]"
                  >
                    {{node.label}}
                  </a>
                </div>
              </ng-template>
            </p-tree>
          </div>
          <ng-container *ngIf="filterList$ |async as filterList ">
            <fields
              class="pt-2"
              (valueChange)="onChangeAttributes($event)"
              [categoryAttributes]="filterList"
            ></fields>
          </ng-container>
        </div>
        <div class="col-lg-9">
          <div class="row justify-content-end">
            <div class="col-5 col-sm-4">
              <prm-input-dropdown
                placeholder="مرتب سازی بر اساس"
                field="title"
                (onChange)="onSortTypeChange($event)"
                [items]="(sortTypeItems$ | async)"
              ></prm-input-dropdown>
            </div>
          </div>
          <div class="row no-gutters" *ngIf="products$ | async as products">
            <div
              class="col-sm-6 col-lg-4"
              dir="ltr"
              *ngFor="let product of products"
            >
              <product-card [product]="product"></product-card>
            </div>
          </div>
        </div>
        <div class="col-12 mt-4">
          <p-paginator
            (onPageChange)="onPageChange($event)"
            class="shadow-sm rounded-lg"
            [rows]="10"
            [totalRecords]="100"
          ></p-paginator>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-12">
          <!-- <products-slider
            [config]="config"
            [products]="products"
            title="محصولات پربازدید اخیر"
          ></products-slider> -->
        </div>
      </div>
    </div>
  </div>
</div>
