@import "mixins";
swiper {
  width: 100%;
  height: auto;
  &::ng-deep{
    .swiper-button-next, .swiper-button-prev{
      color:$primary;
    }
    .swiper-pagination-bullet-active{
      background-color: $primary;
    }
  }
}

[class*="swiper-button"] {
  @include extraSmall() {
    display: none;
  }
}
