<div class="container-fluid">
  <div class="row">
    <div class="container">
      <div class="row">
        <div class="mb-4 mb-lg-0 col-lg-3">
          <div class="bg-white rounded-lg shadow-sm">
            <p-tree [value]="convertedCategories" dir="rtl" class="rtl ui-rtl">
              <ng-template let-node pTemplate="default">
                <div class="d-flex align-items-center">
                  <a
                    class="text-dark"
                    [routerLink]="['/products/subcategory/',node.data.id,node.data.title]"
                  >
                    {{node.label}}
                  </a>
                </div>
              </ng-template>
            </p-tree>
          </div>
        </div>
        <div class="col-lg-9">
          <div class="row">
            <div
              class="col-12"
              *ngIf="(categorySlider$ | async) as categorySlider"
            >
              <carousel
                [showArrows]="true"
                [showBullets]="true"
                [config]="headerSliderConfig"
              >
                <div *ngFor="let item of categorySlider" class="swiper-slide">
                  <img
                    class="card-img-top"
                    [src]="item.keyMedia | safe | async"
                    [alt]="item.alt"
                  />
                </div>
              </carousel>
            </div>
          </div>
          <div *ngIf="(categoryImages$ | async) as categoryImages">
            <div class="row">
              <div class="col mt-3">
                <img
                  class="w-100"
                  [routerLink]="['/products/subcategory/', categoryImages[0].id,categoryImages[0].title]"
                  [alt]="categoryImages[0].title"
                  [src]="categoryImages[0].icon | safe | async"
                />
              </div>
              <div class="col mt-3">
                <img
                  class="w-100"
                  [routerLink]="['/products/subcategory/', categoryImages[1].id,categoryImages[1].title]"
                  [alt]="categoryImages[1].title"
                  [src]="categoryImages[1].icon | safe | async"
                />
              </div>
              <div class="col mt-3">
                <img
                  class="w-100"
                  [routerLink]="['/products/subcategory/', categoryImages[2].id,categoryImages[2].title]"
                  [alt]="categoryImages[1].title"
                  [src]="categoryImages[2].icon | safe | async"
                />
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 mt-3">
                <img
                  class="w-100"
                  [routerLink]="['/products/subcategory/', categoryImages[3].id,categoryImages[3].title]"
                  [alt]="categoryImages[3].title"
                  [src]="categoryImages[3].icon | safe | async"
                />
              </div>
              <div class="col-md-6 mt-3">
                <img
                  class="w-100"
                  [routerLink]="['/products/subcategory/', categoryImages[4].id,categoryImages[4].title]"
                  [alt]="categoryImages[4].title"
                  [src]="categoryImages[4].icon | safe | async"
                />
              </div>
              <div class="col-md-6 mt-3">
                <img
                  class="w-100"
                  [routerLink]="['/products/subcategory/', categoryImages[5].id,categoryImages[5].title]"
                  [alt]="categoryImages[5].title"
                  [src]="categoryImages[5].icon | safe | async"
                />
              </div>
              <div class="col-md-6 mt-3">
                <img
                  class="w-100"
                  [routerLink]="['/products/subcategory/', categoryImages[6].id,categoryImages[6].title]"
                  [alt]="categoryImages[6].title"
                  [src]="categoryImages[6].icon | safe | async"
                />
              </div>
            </div>
          </div>

          <div
            class="row"
            *ngIf="(categoryProductsSlider$|async) as categoryProductsSlider"
          >
            <div
              class="col-12 mt-3"
              *ngFor="let item of categoryProductsSlider"
            >
              <products-slider
                *ngIf="item.obj.length!=0"
                [config]="productsSliderConfig"
                [products]="item.obj"
                [title]="item.title"
              ></products-slider>
            </div>
          </div>

          <div class="row">
            <div
              class="col-12 mt-3"
              *ngIf="categoryDescription$ | async as categoryDescription"
            >
              <div class="bg-white rounded-lg shadow-sm px-3">
                {{categoryDescription[0].description}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
