<prm-input-container [config]="containerConfig">
  <input
    type="hidden"
    [(ngModel)]="value"
    (input)="_onInput()"
    (blur)="_onBlur()"
    (focus)="_onFocus()"
  />
  <p-fileUpload
    [dir]="layout == 'ltr' ? 'ltr' : 'rtl'"
    [ngClass]="{ 'ui-rtl rtl': layout == 'rtl' }"
    name="myfile[]"
    [url]="url"
    [multiple]="multiple"
    [disabled]="disabled"
    [maxFileSize]="maxFileSize"
    [previewWidth]="previewWidth"
    [auto]="auto"
    [accept]="accept"
    [fileLimit]="fileLimit"
    [mode]="mode"
    [method]="method"
    [chooseLabel]="chooseLabel"
    [uploadLabel]="uploadLabel"
    [cancelLabel]="cancelLabel"
    [showUploadButton]="showUploadButton"
    [showCancelButton]="showCancelButton"
    [invalidFileSizeMessageSummary]="invalidFileSizeMessageSummary"
    [invalidFileSizeMessageDetail]="invalidFileSizeMessageDetail"
    [invalidFileTypeMessageSummary]="invalidFileTypeMessageSummary"
    [invalidFileLimitMessageDetail]="invalidFileLimitMessageDetail"
    [invalidFileLimitMessageSummary]="invalidFileLimitMessageSummary"
    [invalidFileTypeMessageDetail]="invalidFileTypeMessageDetail"
    [files]="files"
    [style]="style"
    [headers]="headers"
    (onSelect)="_onSelect($event)"
    (onRemove)="_onRemove($event)"
    (onProgress)="_onProgress($event)"
    (onClear)="_onClear($event)"
    (onError)="_onError($event)"
    (onBeforeUpload)="_onBeforeUpload($event)"
    (onUpload)="_onUpload($event)"
    (onSend)="_onSend($event)"
    #upload
  >
    <ng-template pTemplate="toolbar">
      <span>{{ captionText }}</span>
    </ng-template>
  </p-fileUpload>
</prm-input-container>

<!-- --------------------- DRAG DROP EXAMPLE ------------------------ -->
<!-- <div
  cdkDropList
  [cdkDropListDisabled]="false"
  cdkDropListOrientation="vertical"
  class="example-list"
  (cdkDropListDropped)="drop($event)"
>
  <div
    class="example-box"
    cdkDrag
    cdkDragBoundary=".example-list"
    cdkDragLockAxis="y"
    [cdkDragDisabled]="false"
    *ngFor="let movie of timePeriods"
  >
    <div class="example-handle" cdkDragHandle>
      <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
        <path
          d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"
        ></path>
        <path d="M0 0h24v24H0z" fill="none"></path>
      </svg>
    </div>
    <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
    {{ movie }}
  </div>
</div> -->
