@import "mixins";
.footer {
  background: #eceff1;
  .banners {
    p {
      @include text-style($size: $font-size-sm);
    }
  }
  p {
    color: #4a5f73;
    font-weight: bold;
  }
  .input-box {
    display: flex;
    height: 44px;
    margin-bottom: 30px;

    button {
      background-color: $primary;
      color: #fff;
      border-radius: 8px 0 0 8px;
      width: 87px;
      border: none;
      height: 100%;
      font-weight: 700;
      letter-spacing: 0.3px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    input {
      flex-grow: 1;
      height: 100%;
      border-left: none;
      border-radius: 0 8px 8px 0;
      background: #fff;
      border: 1px solid #c8c8c8;
      color: #717171;
      font-size: 14px;
      padding: 11px 12px;
      letter-spacing: -0.8px;
      text-align: right;
    }
  }
  ul {
    margin-top: 0;
    list-style: none;
    color: #4a5f73;
    font-weight: bold;
    li {
      color: #4b4b4b;
      font-weight: 300;
    }
  }
  .social-media img {
    width: 30px;
  }
  .shared-app-wrapper,
  .namad-wrapper {
    img {
      width: 100px;
    }
  }
  .about {
    border-top: 1px solid rgb(206, 206, 206);
    padding-top: 30px;
    background-color: #e4edf0;
  }
  .footerItems {
    cursor: pointer;
    &:hover {
      color: $primary;
    }
  }
}
.go-up i {
  display: inline-block;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
