<div class="container-fluid border-top mt-5 footer">
  <div class="row">
    <div class="container">
      <div class="row">
        <div class="col-12 py-5">
          <div class="row">
            <div class="col-4">
              <p>:از تخفیف‌ها و جدیدترین‌های دیجی‌کالا باخبر شوید</p>
              <div class="input-box">
                <button>ارسال</button>
                <input placeholder="آدرس ایمیل خود را وارد کنید" />
              </div>
              <p>:دیجی‌کالا را در شبکه‌های اجتماعی دنبال کنید</p>
              <div class="social-media">
                <span><i class="fas fa-shopping-cart "></i></span>
                <span><i class="fas fa-shopping-cart "></i></span>
                <span><i class="fas fa-shopping-cart "></i></span>
                <span><i class="fas fa-shopping-cart "></i></span>
              </div>
            </div>
            <div class="col-8">
              <div class="row">
                <div class="col-4" *ngFor="let col of footerItems">
                  <ul>
                    {{
                      col.title
                    }}
                    <li *ngFor="let item of col.items">{{ item }}</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 pt-5 border-top">
          <div class="row">
            <div class="col-4">
              <div class="d-flex align-items-center shared-app-wrapper">
                <img
                  class="mr-3"
                  [src]="'../../../assets/images/footer-imgs/sib-app.png'"
                  alt=""
                />
                <img
                  class="mr-3"
                  [src]="'../../../assets/images/footer-imgs/google-play.png'"
                  alt=""
                />
                <img
                  class="mr-3"
                  [src]="'../../../assets/images/footer-imgs/bazar.png'"
                  alt=""
                />
              </div>
            </div>
            <div class="col-8">
              <div>
                <span>هفت روز هفته ، ۲۴ ساعت شبانه‌روز پاسخگوی شما هستیم</span>
                <span>شماره تماس : ۶۱۹۳۰۰۰۰ - ۰۲۱</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-12 py-5">
          <div class="row">
            <div class="col-4">
              <div class="d-flex align-items-center namad-wrapper">
                <img
                  class="mr-3"
                  [src]="'../../../assets/images/footer-imgs/namad1.png'"
                  alt=""
                />
                <img
                  class="mr-3"
                  [src]="'../../../assets/images/footer-imgs/namad2.png'"
                  alt=""
                />
                <img
                  class="mr-3"
                  [src]="'../../../assets/images/footer-imgs/namad3.png'"
                  alt=""
                />
              </div>
            </div>
            <div class="col-8">
              <div>
                <h5>فروشگاه دیجی کالا</h5>
                فروشگاه اینترنتی دیجی‌کالا، بررسی، انتخاب و خرید آنلاین
                دیجی‌کالا به عنوان یکی از قدیمی‌ترین فروشگاه های اینترنتی با بیش
                از یک دهه تجربه، با پایبندی به سه اصل، پرداخت در محل، 7 روز
                ضمانت بازگشت کالا و تضمین اصل‌بودن کالا موفق شده تا همگام با
                فروشگاه‌های معتبر جهان، به بزرگ‌ترین فروشگاه اینترنتی ایران
                تبدیل شود. به محض ورود به سایت دیجی‌کالا با دنیایی از کالا رو به
                رو می‌شوید! هر آنچه که نیاز دارید و به ذهن شما خطور می‌کند در
                اینجا پیدا خواهید کرد.مشاهده بیشتر اسباب بازیعطر و
                ادوکلنتلویزیونرنگ مو و ابرومانتو
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 text-center pt-2 pb-0 border-top">
          <small>
            استفاده از مطالب فروشگاه اینترنتی دیجی‌کالا فقط برای مقاصد غیرتجاری
            و با ذکر منبع بلامانع است. کلیه حقوق این سایت متعلق به شرکت نوآوران
            فن آوازه (فروشگاه آنلاین دیجی‌کالا) می‌باشد.
          </small>
        </div>
      </div>
    </div>
  </div>
</div>
