<div class="wrapper text-center p-4 rounded-lg bg-white shadow-sm">
  <h5 class="text-muted font-regular mb-4">
    {{ promo.title }}
  </h5>
  <div class="d-flex justify-content-around">
    <div
      class="promo d-flex flex-column align-items-center"
      *ngFor="let item of promo.obj"
    >
      <img [src]="item.icon" [alt]="item.title" />
      <span class="text-muted mb-1 font-regular">{{ item.title }}</span>
      <small class="text-muted">{{ "+" + item.productCount + " کالا " }}</small>
    </div>
  </div>
</div>
