<div class="container-fluid">
  <div class="row">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-9">
          <div class="bg-white rounded-lg shadow-sm p-4 text-center">
            <i
              class="fa fa-check text-white rounded-circle display-2 bg-success"
            ></i>
            <p class="h3 my-5">سفارش شما با موفقیت ثبت شد.</p>
            <button class="btn btn-primary btn-lg" routerLink="/users/profile">
              پیگیری سفارش
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
