<div class="container-fluid">
  <div class="row">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <carousel
            class="shadow-sm"
            [showArrows]="true"
            [config]="mainSliderConfig"
          >
            <div *ngFor="let item of slider$ | async" class="swiper-slide">
              <img class="card-img-top" [alt]="item.alt" [src]="item.keyMedia | safe | async" />
            </div>
          </carousel>
        </div>
      </div>
    </div>
  </div>

  <ng-container *ngIf="homePageCases">
    <ng-container *ngFor="let item of homePageCases">
      <ng-container [ngSwitch]="item.typeId">
        <div class="row offer mt-4" *ngSwitchCase="1">
          <div class="container">
            <div class="row offer-box">
              <div class="offer-img col-5 col-md-3">
                <img class="w-75" alt="شگفت انگیز" src="../../../assets/images/offer.png" />
              </div>
              <div class="offer-products col-7 col-md-9">
                <carousel [showArrows]="true" [config]="offerConfig">
                  <div
                    *ngFor="let product of item.obj"
                    class="swiper-slide"
                    dir="ltr"
                  >
                    <product-card [product]="product"></product-card>
                  </div>
                </carousel>
              </div>
            </div>
          </div>
        </div>

        <div class="row mt-4" *ngSwitchCase="3">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <categories-promo [promo]="item"></categories-promo>
              </div>
            </div>
          </div>
        </div>

        <div class="row mt-4" *ngSwitchCase="2">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <products-slider
                  [products]="item.obj"
                  [title]="item.title"
                  [moreThen]="item.moreThen"
                ></products-slider>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </ng-container>
  </ng-container>
  <!-- <div class="row offer mt-4" *ngIf="amazingOffers">
    <div class="container">
      <div class="row offer-box">
        <div class="offer-img col-5 col-md-3">
          <img class="w-75" src="../../../assets/images/offer.png" />
        </div>
        <div class="offer-products col-7 col-md-9">
          <carousel [showArrows]="true" [config]="offerConfig">
            <div
              *ngFor="let product of amazingOffers.obj"
              class="swiper-slide"
              dir="ltr"
            >
              <product-card [product]="product"></product-card>
            </div>
          </carousel>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-4" *ngIf="categoryVarious">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <categories-promo [promo]="categoryVarious"></categories-promo>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-4" *ngIf="mostViewed">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <products-slider
            [products]="mostViewed.obj"
            [title]="mostViewed.title"
          ></products-slider>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-4" *ngIf="newProducts">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <products-slider
            [products]="newProducts.obj"
            [title]="newProducts.title"
          ></products-slider>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-4" *ngIf="mostSellers">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <products-slider
            [products]="mostSellers.obj"
            [title]="mostSellers.title"
          ></products-slider>
        </div>
      </div>
    </div>
  </div> -->
</div>
