<div class="container-fluid">
  <div class="row">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <adv-card [items]="banerSlider"></adv-card>
        </div>
      </div>
    </div>
  </div>

  <div class="row offer mt-4">
    <div class="container">
      <div class="row offer-box">
        <div class="offer-img col-3">
          <img class="w-75" src="../../../assets/images/offer.png" />
        </div>
        <div class="offer-products col-9">
          <carousel [showArrows]="true" [config]="offerConfig">
            <div
              *ngFor="let product of products"
              class="swiper-slide"
              dir="ltr"
            >
              <product-card [product]="product"></product-card>
            </div>
          </carousel>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-4">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <products-slider
            [products]="products"
            title="محصولات پربازدید اخیر"
          ></products-slider>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-4">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <categories-promo></categories-promo>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-4">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <products-slider
            [products]="products"
            title="محصولات پربازدید اخیر"
          ></products-slider>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-4">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <products-slider
            [products]="products"
            title="محصولات پربازدید اخیر"
          ></products-slider>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-4">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <products-slider
            [products]="products"
            title="محصولات پربازدید اخیر"
          ></products-slider>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <lib-ngx-image-zoom   [thumbImage]="zoomedImageSrc1" [fullImage]="zoomedImageSrc"></lib-ngx-image-zoom> -->
