<div class="container-fluid">
  <div class="row">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <carousel
            class="shadow-sm"
            [showArrows]="true"
            [config]="mainSliderConfig"
          >
            <div *ngFor="let item of slider$ | async" class="swiper-slide">
              <img
                class="card-img-top"
                [src]="item.keyMedia | safe | async"
                alt="Card image cap"
              />
            </div>
          </carousel>
        </div>
      </div>
    </div>
  </div>

  <div class="row offer mt-4" *ngIf="amazingOffers">
    <div class="container">
      <div class="row offer-box">
        <div class="offer-img col-5 col-md-3">
          <img class="w-75" src="../../../assets/images/offer.png" />
        </div>
        <div class="offer-products col-7 col-md-9">
          <carousel [showArrows]="true" [config]="offerConfig">
            <div
              *ngFor="let product of amazingOffers.obj"
              class="swiper-slide"
              dir="ltr"
            >
              <product-card [product]="product"></product-card>
            </div>
          </carousel>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-4" *ngIf="categoryVarious">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <categories-promo [promo]="categoryVarious"></categories-promo>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-4" *ngIf="mostViewed">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <products-slider
            [products]="mostViewed.obj"
            [title]="mostViewed.title"
          ></products-slider>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-4" *ngIf="newProducts">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <products-slider
            [products]="newProducts.obj"
            [title]="newProducts.title"
          ></products-slider>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-4" *ngIf="mostSellers">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <products-slider
            [products]="mostSellers.obj"
            [title]="mostSellers.title"
          ></products-slider>
        </div>
      </div>
    </div>
  </div>
</div>
