<div class="container-fluid">
  <div class="row">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="bg-white rounded-lg shadow-sm p-4">
            <div class="row">
              <div class="col-12">
                <h3>حریم خصوصی</h3>
              </div>
              <div class="col-12">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore
                delectus adipisci, deleniti nemo quae culpa itaque reprehenderit
                soluta repellat, voluptatem aliquam quod quia autem quam,
                nostrum voluptas velit consequatur eos. Lorem ipsum dolor sit
                amet consectetur adipisicing elit. Tempore delectus adipisci,
                deleniti nemo quae culpa itaque reprehenderit soluta repellat,
                voluptatem aliquam quod quia autem quam, nostrum voluptas velit
                consequatur eos. Lorem ipsum dolor sit amet consectetur
                adipisicing elit. Tempore delectus adipisci, deleniti nemo quae
                culpa itaque reprehenderit soluta repellat, voluptatem aliquam
                quod quia autem quam, nostrum voluptas velit consequatur eos.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore
                delectus adipisci, deleniti nemo quae culpa itaque reprehenderit
                soluta repellat, voluptatem aliquam quod quia autem quam,
                nostrum voluptas velit consequatur eos. Lorem ipsum dolor sit
                amet consectetur adipisicing elit. Tempore delectus adipisci,
                deleniti nemo quae culpa itaque reprehenderit soluta repellat,
                voluptatem aliquam quod quia autem quam, nostrum voluptas velit
                consequatur eos. Lorem ipsum dolor sit amet consectetur
                adipisicing elit. Tempore delectus adipisci, deleniti nemo quae
                culpa itaque reprehenderit soluta repellat, voluptatem aliquam
                quod quia autem quam, nostrum voluptas velit consequatur eos.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore
                delectus adipisci, deleniti nemo quae culpa itaque reprehenderit
                soluta repellat, voluptatem aliquam quod quia autem quam,
                nostrum voluptas velit consequatur eos.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
