<div class="container-fluid">
  <div class="row">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="bg-white rounded-lg shadow-sm">
            <div class="row no-gutters">
              <div class="col-12 p-4">
                <h5>دسته‌بندی پرسش‌ها</h5>
              </div>
              <div class="col-4">
                <div
                  class="question-cat p-4 d-flex flex-column align-items-center justify-content-center"
                >
                  <img src="http://via.placeholder.com/110x110" alt="" />
                  <div class="mt-4">دسته بندی</div>
                </div>
              </div>
              <div class="col-4">
                <div
                  class="question-cat p-4 d-flex flex-column align-items-center justify-content-center"
                >
                  <img src="http://via.placeholder.com/110x110" alt="" />
                  <div class="mt-4">دسته بندی</div>
                </div>
              </div>
              <div class="col-4">
                <div
                  class="question-cat p-4 d-flex flex-column align-items-center justify-content-center"
                >
                  <img src="http://via.placeholder.com/110x110" alt="" />
                  <div class="mt-4">دسته بندی</div>
                </div>
              </div>
              <div class="col-4">
                <div
                  class="question-cat p-4 d-flex flex-column align-items-center justify-content-center"
                >
                  <img src="http://via.placeholder.com/110x110" alt="" />
                  <div class="mt-4">دسته بندی</div>
                </div>
              </div>
              <div class="col-4">
                <div
                  class="question-cat p-4 d-flex flex-column align-items-center justify-content-center"
                >
                  <img src="http://via.placeholder.com/110x110" alt="" />
                  <div class="mt-4">دسته بندی</div>
                </div>
              </div>
            </div>
          </div>
          <div class="bg-white rounded-lg shadow-sm mt-5">
            <div class="row px-4 pt-4">
              <div class="col-12">
                <h5>پرتکرارترین پرسش ها</h5>
              </div>
              <div class="col-12">
                <ag-accordion>
                  <ag-accordion-item icon="fa-book" title="1st Week">
                    <accordion-content>
                      Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                      Excepturi deleniti earum voluptas nemo, eveniet, obcaecati
                      ratione dignissimos, ipsam molestias facilis officia quod!
                      Labore voluptas distinctio autem natus blanditiis nesciunt
                      quam.
                    </accordion-content>
                  </ag-accordion-item>
                  <ag-accordion-item icon="fa-book" title="2st Week">
                    <accordion-content>
                      Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                      Excepturi deleniti earum voluptas nemo, eveniet, obcaecati
                      ratione dignissimos, ipsam molestias facilis officia quod!
                      Labore voluptas distinctio autem natus blanditiis nesciunt
                      quam.
                    </accordion-content>
                  </ag-accordion-item>
                </ag-accordion>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
