<div class="container-fluid">
  <div class="row">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="bg-white rounded-lg shadow-sm">
            <div class="row no-gutters" *ngIf="(data$ | async) as data">
              <div class="col-12 p-4">
                <h5>دسته‌بندی پرسش‌ها</h5>
              </div>
              <div *ngFor="let d of data" class="col-sm-6 col-md-4">
                <div
                  [routerLink]="['/guide/faq',d.id]"
                  class="question-cat p-4 d-flex flex-column align-items-center justify-content-center"
                >
                  <img class="w-100" [src]="d.keyMedia | safe | async" alt="" />
                  <div class="mt-4">{{d.title}}</div>
                </div>
              </div>
            </div>
          </div>
          <!-- <div class="bg-white rounded-lg shadow-sm mt-5">
            <div class="row px-4 pt-4">
              <div class="col-12">
                <h5>پرتکرارترین پرسش ها</h5>
              </div>
              <div class="col-12">
                <ag-accordion>
                  <ag-accordion-item icon="fa-book" title="1st Week">
                    <accordion-content>
                      Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                      Excepturi deleniti earum voluptas nemo, eveniet, obcaecati
                      ratione dignissimos, ipsam molestias facilis officia quod!
                      Labore voluptas distinctio autem natus blanditiis nesciunt
                      quam.
                    </accordion-content>
                  </ag-accordion-item>
                  <ag-accordion-item icon="fa-book" title="2st Week">
                    <accordion-content>
                      Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                      Excepturi deleniti earum voluptas nemo, eveniet, obcaecati
                      ratione dignissimos, ipsam molestias facilis officia quod!
                      Labore voluptas distinctio autem natus blanditiis nesciunt
                      quam.
                    </accordion-content>
                  </ag-accordion-item>
                </ag-accordion>
              </div>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
