<div class="container-fluid">
  <div class="row">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="bg-white rounded-lg shadow-sm p-4 mb-5">
            <div class="row justify-content-center">
              <div class="col-10">
                <h4 class="mb-3">تماس با ما</h4>
                <form
                  class="form-row"
                  [formGroup]="form"
                  (ngSubmit)="onSubmitForm()"
                >
                  <prm-input-text
                    formControlName="title"
                    class="col-md-6 mb-4"
                    placeholder="موضوع"
                    labelWidth="110"
                  ></prm-input-text>
                  <prm-input-text
                    formControlName="fullName"
                    class="col-md-6 mb-4"
                    placeholder="نام و نام خانوادگی"
                    labelWidth="110"
                  ></prm-input-text>
                  <prm-input-text
                    formControlName="email"
                    class="col-md-6 mb-4"
                    placeholder="ایمیل"
                    [errors]="[{type:'email',message:'ایمیل صحیح نیست'}]"
                    labelWidth="110"
                  ></prm-input-text>
                  <prm-input-text
                    formControlName="telPhone"
                    class="col-md-6 mb-4"
                    [numberOnly]="true"
                    placeholder="تلفن تماس"
                    labelWidth="110"
                  ></prm-input-text>
                  <prm-input-textarea
                    formControlName="description"
                    [errors]="[{type:'required',message:'این فیلد الزامیست'}]"
                    class="col-12 mb-4"
                    placeholder="متن پیام"
                    labelWidth="110"
                  ></prm-input-textarea>
                  <button
                    type="submit"
                    class="btn btn-primary justify-self-end"
                  >
                    ثبت و ارسال
                  </button>
                </form>
              </div>
            </div>
          </div>

          <div class="bg-white rounded-lg shadow-sm p-4">
            <div class="row justify-content-center">
              <div class="col-10" *ngIf="contactInfo">
                <h4 class="mb-3">اطلاعات فروشگاه</h4>
                <div class="row align-items-center">
                  <div class="col-lg-7">
                    <div class="d-flex align-items-center mb-3">
                      <i class="fa fa-phone ml-4 text-muted"></i>
                      <span>{{contactInfo.telNo}}</span>
                    </div>
                    <div class="d-flex align-items-center mb-3">
                      <i class="fa fa-phone ml-4 text-muted"></i>
                      <span>{{contactInfo.telShow}}</span>
                    </div>
                    <div class="d-flex align-items-start mb-3">
                      <i class="fa mt-1 fa-info ml-4 text-muted"></i>
                      <span [innerHTML]="contactInfo.text"></span>
                    </div>
                  </div>
                  <div class="col-lg-5">
                    <div
                      style="height: 250px"
                      leaflet
                      [leafletOptions]="options"
                      [leafletLayers]="layers"
                    ></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
