@import "./fonts/fonts.scss";
@import "./vendor/bootstrap.scss";
@import "./mixins.scss";
@import "./theme.scss";

html,
body {
  height: 100%;
  background-color: #f5f5f5;
  line-height: $line-height-lg;
  color: $body-color;
  font-size: $font-size-sm;
  text-align: right;
  direction: rtl;
  font-family: IRANyekan;
  .ui-widget {
    font-family: IRANyekan;
    [class|="ui"]:not([class*="pi"]):not([class*="fa"]):not([class*="ql"]) {
      font-family: inherit;
    }
  }
  .ui-button , .btn-primary{
    color: #ffffff;
    background-color: $primary;
    border: 1px solid $primary;
    &:enabled:hover {
      background-color: darken($color: $primary, $amount: 10);
      color: #ffffff;
      border-color: darken($color: $primary, $amount: 10);
    }
    &:enabled:focus {
      outline: 0 none;
      outline-offset: 0px;
    }
    &:enabled:active {
      background-color: darken($color: $primary, $amount: 10);
      color: #ffffff;
      border-color: darken($color: $primary, $amount: 10);
    }
  }
  .ui-dialog .ui-dialog-content {
    overflow: visible;
  }

  @include medium() {
    font-size: $font-size-md;
  }

  *:focus {
    outline: none;
  }

  a:hover {
    text-decoration: none;
  }
}
