@import "./fonts/fonts.scss";
@import "./vendor/bootstrap.scss";
@import "./mixins.scss";
@import "./theme.scss";

html,
body {
  height: 100%;
  background-color: #f5f5f5;
  line-height: $line-height-lg;
  color: $body-color;
  font-size: $font-size-sm;
  text-align: right;
  direction: rtl;
  font-family: IRANyekan;
  .ui-widget {
    font-family: IRANyekan;
    [class|="ui"]:not([class*="pi"]):not([class*="fa"]):not([class*="ql"]) {
      font-family: inherit;
    }
  }
  .ui-button , .btn-primary{
    color: #ffffff;
    background-color: $primary;
    border: 1px solid $primary;
    &:enabled:hover {
      background-color: darken($color: $primary, $amount: 10);
      color: #ffffff;
      border-color: darken($color: $primary, $amount: 10);
    }
    &:enabled:focus {
      outline: 0 none;
      outline-offset: 0px;
    }
    &:enabled:active {
      background-color: darken($color: $primary, $amount: 10);
      color: #ffffff;
      border-color: darken($color: $primary, $amount: 10);
    }
  }
  .ui-dialog .ui-dialog-content {
    overflow: visible;
  }

  @include medium() {
    font-size: $font-size-md;
  }

  *:focus {
    outline: none;
  }

  a:hover {
    text-decoration: none;
  }

  .ui-sidebar {
    border: 0 !important;
    padding: 0 !important;
  }

  p-panelMenu {
    .ui-panelmenu {
      &-panel {
        direction: rtl;
      }
      &-header {
        > a {
          border: 0 !important;
          background-color: transparent !important;
          &:focus {
            box-shadow: none !important;
          }
        }

        &.ui-state-active > a {
          border: 0;
          background-color: #007ad9 !important;
          &:hover {
            background-color: #005b9f !important;
            color: #ffffff;
          }
        }

        &:not(.ui-state-active) > a:hover {
          border: 0;
        }
      }

      .ui-menuitem-icon {
        margin-right: 0;
        margin-left: 0.25em;
      }

      &-content {
        border: 0 !important;
      }

      .ui-submenu-list {
        margin-left: 0;
        margin-right: 0;
        padding-right: 1.5em;
        background-color: #f5f5f5;
      }

      .ui-panelmenu-icon {
        &.pi-chevron-right,
        &.pi-caret-right {
          @include fa-icon("\f053");
        }

        &.pi-chevron-down,
        &.pi-caret-down {
          @include fa-icon("\f078");
        }
      }
    }
  }
}
