/////////////////////////////////////////////////////////////////////////////
//                           GENERAL VARIABLES                             //
/////////////////////////////////////////////////////////////////////////////
$sidenav-width: 278px;
$navbar-height: 62px;
$navbar-responsive-height: 116px;

/////////////////////////////////////////////////////////////////////////////
//                           LIGHT THEME VARIABLES                         //
/////////////////////////////////////////////////////////////////////////////
$light-blue: #eef2f6;
$light: #f4f4f4;
// other color in light theme will use PrimeNg's original colors.just set the body's color to lightBlue.

/////////////////////////////////////////////////////////////////////////////
//                           DARK THEME VARIABLES                          //
/////////////////////////////////////////////////////////////////////////////

$primary-100: #1f7ed0;
$primary-200: #1b71bb;
$primary-300: #1864a6;
$danger: #f9b4ba;
$success: #aae5aa;
$dark-100: #eaeaea;
$dark-200: #dedede;
$dark-300: #898989;
$dark-400: #888888;
$dark-500: #585858;
$dark-600: #4c4c4c;
$dark-700: #3f3f3f;
$dark-800: #323232;
$dark-900: #252525;
$dark-1000: #191919;
