@import "mixins.scss";
:host {
  position: relative;
}
.nav-bar {
  position: fixed;
  z-index: 99;
  width: 100%;
  background-color: #fff;
  .header {
    height: 100px;
    flex-direction: row-reverse;
    .right-section {
      margin-top: 10px;
      height: 70px;
      display: flex;
      box-sizing: border-box;
      padding-top: 10px;
      padding-bottom: 10px;
      flex-direction: row-reverse;
      .logo {
        height: 100%;
        width: auto;
        margin: 0 10px;
        img {
          height: 100%;
        }
      }
    }

    .left-section {
      background-color: #fff;
      margin-top: 10px;
      height: 70px;
      display: flex;
      flex-grow: 1;
      justify-content: space-between;
      box-sizing: border-box;
      padding-top: 10px;
      padding-bottom: 10px;
      align-items: center;
      > div {
        display: flex;
        align-items: center;
        height: 100%;
        .cart-button {
          height: 60%;
          display: flex;
          align-items: center;
          padding-right: 20px;
          border-right: 1px solid #e0e0e2;
        }
        .login-button {
          border: 1px solid #e0e0e2;
          height: 100%;
          margin-left: 20px;
          border-radius: 8px;
          display: flex;
          align-items: center;
          padding: 0 20px;
          .user-icon {
            padding-left: 10px;
          }
        }
      }
      .search-bar {
        width: 60%;
        position: relative;
        .search-icon {
          position: absolute;
          display: flex;
          right: 0;
          padding: 0 20px;
          height: 100%;
          align-items: center;
          color: #a1a3a8;
        }
        input {
          width: 100%;
          height: 100%;
          border-radius: 8px;
          background-color: #f0f0f1;
          border: none;
          text-align: right;
          padding-right: 40px;
          font-family: inherit;
        }
      }
    }
  }
}
.menu {
  > div {
    position: absolute;
    font-weight: 700;
    color: #616161;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    padding-bottom: 10px;
    position: relative;
    ul {
      list-style: none;
      text-align: right;
      i {
        padding-left: 7px;
      }
    }
    span {
      i {
        padding-left: 5px;
      }
      margin-left: 30px;
      position: static;

    }
    .mega-menu {
      display: none !important;
      &.show {
        display: block !important;
      }
      background-color: #fff;
      position: absolute;
      width: calc(100% - 30px);
      top: 35px;
      left: 15px;

    }
    .main-category {
      padding-right:0 ;
      ul {
        border-left: 1px solid #eaeaea;
        padding: 0;

        li {
          padding: 10px 0;
          padding-right: 15px;
          border-top:1px solid transparent;
          border-bottom:1px solid transparent;
          &:hover{
            color:red;
            border-top:1px solid #eaeaea;
            border-bottom:1px solid #eaeaea;
          }
        }
      }
    }
    .sub-category {
      ul {
        li {
          padding: 7px 0;
          &:hover{
            color:red;
          }
        }
      }
    }

  }
}

.section1 {
  padding-top: 150px;
}

.section2 {
  background-color: red;
  margin-top: 50px;
  .offer-box {
    padding: 30px 0;
    .offer-img {
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        width: 170px;
      }
    }
  }
}



.footer {
  display: flex;
  border-top: 1px solid #cfd8dc;
  flex-direction: row-reverse;
  text-align: right;
  margin-top: 50px;
  padding-top: 40px;
  background: #eceff1;
  position: relative;
  p {
    color: #4a5f73;
    font-weight: bold;
  }
  .input-box {
    display: flex;
    height: 44px;
    margin-bottom: 30px;

    button {
      background-color: #00bfd6;
      border-radius: 8px 0 0 8px;
      text-align: center;
      width: 87px;
      border: none;
      padding: 14px 24px;
      height: 100%;
      // width: 50px;
      color: #fff;
      font-weight: 700;
      letter-spacing: 0.3px;
      display: flex;
      justify-content: center;
    }
    input {
      flex-grow: 1;
      height: 100%;
      border-left: none;
      border-radius: 0 8px 8px 0;
      background: #fff;
      border: 1px solid #c8c8c8;
      color: #717171;
      font-size: 14px;
      line-height: 1.5;
      padding: 11px 12px;
      // width: calc(100%-50px);
      letter-spacing: -0.8px;
      text-align: right;
    }
  }
  ul {
    margin-top: 0;
    list-style: none;
    color: #4a5f73;
    font-weight: bold;
    li {
      color: #4b4b4b;
      font-weight: 300;
      line-height: 1.5;
    }
  }
  .social-media i {
    color: #4b4b4b;
    padding: 0 5px;
  }
  .shared-app-wrapper , .namad-wrapper{
    img{
      width: 110px;
    }
  }
  .about{
    border-top:1px solid rgb(206, 206, 206) ;
    padding-top: 30px;
    background-color: #e4edf0;
  }
}
