<div class="container-fluid">
  <div class="row">
    <div class="container">
      <div class="row" *ngIf="cartProducts.length == 0">
        <div class="col-12">
          <div class="bg-white rounded-lg shadow-sm p-4">
            <div class="row">
              <div class="col-12">
                <h4>سبد خرید</h4>
                <p>
                  سبدخرید شما خالی است. برای افزودن محصولات دلخواه خود به صفحه‌ی
                  فروشگاه مراجعه کنید.
                </p>
                <button class="btn btn-primary p-1" [routerLink]="['/']">
                  <small>مشاهده فروشگاه</small>
                </button>
              </div>
              <div class="col-12"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="row" *ngIf="cartProducts.length != 0">
        <div class="col-lg-8 mb-4 mb-lg-0">
          <div class="bg-white rounded-lg shadow-sm px-4">
            <div
              class="row cart-item py-4 border-bottom"
              *ngFor="let item of cartProducts;let i = index"
            >
              <div class="col-md-4 col-lg-3 mb-3 mb-md-0">
                <img
                  class="w-100"
                  [src]="item.keyMedia | safe | async"
                  [alt]="item.info?.name"
                />
              </div>
              <div class="col-md-8 col-lg-9">
                <h6>{{item.info?.name}}</h6>
                <ul class="list-unstyled p-0 text-muted">
                  <li class="d-flex align-items-center">
                    <i class="fa fa-tint ml-2"></i>
                    <small>{{item.price.colorTitle}}</small>
                  </li>
                  <li class="d-flex align-items-center">
                    <i class="fa fa-shield-check ml-2"></i>
                    <small>{{item.price.warrantyTitle}}</small>
                  </li>
                  <li class="d-flex align-items-center">
                    <i class="fa fa-store ml-2"></i>
                    <small>{{item.price.storeTitle}}</small>
                  </li>
                </ul>
                <div class="d-flex align-items-center justify-content-between">
                  <div class="right-side d-flex align-items-center">
                    <div
                      class="counter border rounded-lg d-flex align-items-center justify-content-between px-3"
                    >
                      <i class="fal fa-plus" (click)="plusClick(item)"></i>
                      <span class="mx-3">{{item.quantity}}</span>
                      <i
                        class="fal fa-minus"
                        [ngClass]="{'text-black-50': item.quantity == 1}"
                        (click)="minusClick(item)"
                      ></i>
                    </div>
                    <button
                      class="btn btn-outline-danger p-1 mx-3"
                      (click)="onDeleteProduct(item.info.name,i,item.info.productCode)"
                    >
                      <i class="fal ml-1 fa-trash"></i>
                      <small>حذف</small>
                    </button>
                  </div>
                  <div
                    class="left-side text-left"
                    *ngIf="item.price.disCountPrice"
                  >
                    <small class="text-danger">
                      <del> {{item.price.price | number}} تومان </del>
                    </small>
                    <div>{{item.price.disCountPrice | number}} تومان</div>
                  </div>
                  <div
                    class="left-side text-left"
                    *ngIf="!item.price.disCountPrice"
                  >
                    <div>{{item.price.price | number}} تومان</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 factor">
          <div class="bg-white rounded-lg shadow-sm p-4">
            <div
              class="d-flex justify-content-between align-items-center text-muted"
            >
              <small>قیمت کالاها </small>
              <small>{{actualPriceSum | number}} تومان</small>
            </div>
            <div class="d-flex justify-content-between align-items-center">
              <small class="text-muted">تخفیف کالاها</small>
              <small class="text-danger">{{disCountSum | number}} تومان</small>
            </div>
            <hr class="border-bottom" />
            <div class="d-flex justify-content-between align-items-center">
              <small class="font-weight-bold">قابل پرداخت</small>
              <span class="font-weight-bold"
                >{{finalPaySum | number}} تومان</span
              >
            </div>
            <button
              (click)="goNextStep()"
              class="btn btn-primary btn-block mt-4 btn-lg"
            >
              ادامه فرآیند خرید
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
