<prm-input-container [config]="containerConfig">
  <p-multiSelect
    [dir]="layout == 'ltr' ? 'ltr' : 'rtl'"
    [ngClass]="{ 'ui-rtl rtl': layout == 'rtl' }"
    [(ngModel)]="value"
    [options]="items"
    [optionLabel]="optionLabel"
    [filter]="hasFilter"
    [filterBy]="filterBy"
    [disabled]="disabled"
    [readonly]="readonly"
    [scrollHeight]="scrollHeight"
    [filterPlaceHolder]="filterPlaceHolder"
    [filterMatchMode]="filterMatchMode"
    [resetFilterOnHide]="resetFilterOnHide"
    [emptyFilterMessage]="emptyFilterMessage"
    [defaultLabel]="defaultLabel"
    [overlayVisible]="overlayVisible"
    [maxSelectedLabels]="maxSelectedLabels"
    [inputId]="id"
    [displaySelectedLabel]="displaySelectedLabel"
    [selectedItemsLabel]="selectedItemsLabel"
    [name]="name"
    [style]="style"
    [selectionLimit]="selectionLimit"
    [showToggleAll]="showToggleAll"
    [showHeader]="showHeader"
    [beforeAfter]="beforeAfterConfig"
    (onClick)="_onClick()"
    (onChange)="_onChange()"
    (onFocus)="_onFocus()"
    (onBlur)="_onBlur()"
    (onPanelShow)="_onPanelShow()"
    (onPanelHide)="_onPanelHide()"
  ></p-multiSelect>
</prm-input-container>
