.price {
  .discount {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fb3449;
    font-weight: 700;
    color: #fff;
    min-width: 43px;
    height: 23px;
  }
  .first-price {
    color: #acacac;
  }
  .final-price {
    color: #000;
    font-weight: 700;
  }
}

.bar-row {
  > span:first-child {
    width: 40%;
  }
  .bar-container {
    width: 100%;
    background-color: #f1f1f1;
  }

  .bar {
    height: 8px;
    background-color: #4caf50;
  }
}
