<div class="container-fluid">
  <div class="row">
    <div class="container">
      <div class="row mb-5">
        <div class="col-12">
          <div class="wrapper">
            <div
              class="container-fluid rounded-lg shadow-sm bg-white py-4 px-3"
            >
              <div class="row">
                <div class="col-lg-5 mb-4 mb-lg-0">
                  <!-- <div class="image-wrapper w-100"> -->
                  <!-- <lib-ngx-image-zoom
                      [thumbImage]="zoomedImageSrc1"
                      [fullImage]="zoomedImageSrc"
                    ></lib-ngx-image-zoom> -->
                  <p-galleria
                    [(value)]="images"
                    [responsiveOptions]="responsiveOptions"
                    [numVisible]="5"
                  >
                    <ng-template pTemplate="item" let-item>
                      <img [src]="item.previewImageSrc" class="w-100" />
                    </ng-template>
                    <ng-template pTemplate="thumbnail" let-item>
                      <div class="p-grid p-nogutter p-justify-center">
                        <img [src]="item.thumbnailImageSrc" />
                      </div>
                    </ng-template>
                  </p-galleria>
                  <!-- </div> -->
                </div>
                <div class="col-lg-4 col-md-7 mb-4 mb-lg-0">
                  <ng-container *ngIf="productInfo$ | async as info">
                    <h6>{{info.name}}</h6>
                    <small class="text-muted"> {{info.nameEn}} </small>

                    <div
                      class="feedbacks d-flex align-items-center text-primary"
                    >
                      <div class="visions">
                        <small>{{info.commentCount}} دیدگاه کاربران</small>
                      </div>
                    </div>

                    <div class="info d-flex align-items-center my-4">
                      <small class="brand">
                        <span>برند : </span>
                        <span>{{info.brandTitle}}</span>
                      </small>
                      <small class="category mr-4">
                        <span>دسته بندی : </span>
                        <a
                          [routerLink]="['/products/subcategory/', info.categoryId]"
                          class="border-dashed"
                        >
                          <span>{{info.categoryTitle}}</span>
                        </a>
                      </small>
                    </div>
                  </ng-container>
                  <prm-input-dropdown
                  *ngIf="availableColors[0]"
                    (onChange)="onColorChange($event)"
                    [placeholder]="null"
                    labelWidth="110"
                    [showClear]="false"
                    label="انتخاب رنگ"
                    [value]="availableColors[0].value"
                    [items]="availableColors"
                  ></prm-input-dropdown>
                </div>
                <div class="col-lg-3 col-md-5">
                  <div class="row" *ngIf="defaultPrice">
                    <div class="col-12">
                      <div class="wrapper bg-light border px-3 rounded-lg">
                        <div
                          class="seller d-flex align-items-center border-bottom py-2"
                        >
                          <i class="fas fa-home text-muted ml-3"></i>
                          <div class="seller-info flex-grow-1">
                            <div class="fa-sm">
                              <span>فروشنده : </span>
                              <span class="font-bold"
                                >{{defaultPrice.storeTitle}}</span
                              >
                            </div>
                          </div>
                        </div>

                        <div
                          class="warranty d-flex align-items-center border-bottom py-2"
                        >
                          <i class="fas fa-home text-muted ml-3"></i>
                          <span class="fa-sm"
                            >{{defaultPrice.warrantyTitle}}</span
                          >
                        </div>

                        <div
                          class="inventory d-flex align-items-center border-bottom py-2"
                        >
                          <i class="fas fa-home text-muted ml-3"></i>
                          <div class="flex-grow-1">
                            <div class="fa-sm">
                              {{defaultPrice.qty > 0 ? 'موجود در انبار' :
                              'ناموجود'}}
                            </div>
                          </div>
                        </div>

                        <div class="price py-2">
                          <div
                            class="d-flex align-items-center justify-content-end"
                          >
                            <del class="first-price text-muted"
                              >{{ defaultPrice.price | number }}
                            </del>
                            <div class="discount rounded-pill mr-2">18%</div>
                          </div>
                          <div class="final-price d-flex justify-content-end">
                            <span class="h2 mb-0">
                              {{ defaultPrice.disCountPrice | number }}
                            </span>
                            <span class="symbol pr-2 font-regular fa-sm"
                              >تومان</span
                            >
                          </div>
                        </div>

                        <button
                          (click)="onAddToCard()"
                          [ngClass]="{'disabled': defaultPrice.qty < 0}"
                          class="btn btn-block btn-primary my-2"
                        >
                          {{defaultPrice.qty > 0 ? 'افزودن به سبد خرید' :
                          'ناموجود'}}
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row mb-5">
        <div class="col-12">
          <h6 class="font-regular mb-4">
            لیست فروشنده / گارانتی‌های این محصول
          </h6>
        </div>
        <div class="col-12">
          <div class="rounded-lg shadow-sm bg-white px-2">
            <div
              class="container-fluid py-2 border-bottom"
              *ngFor="let price of productPrices"
            >
              <div class="row align-items-center">
                <div class="col-5 col-lg">
                  <div class="seller d-flex align-items-center mx-2">
                    <i class="fas fa-home text-muted ml-3"></i>
                    <div class="seller-info flex-grow-1">
                      <div>
                        <span>فروشنده : </span>
                        <span class="font-bold">{{price.storeTitle}}</span>
                      </div>
                      <!-- <div class="function"> 
                        <small>
                          <span>عملکرد : </span><span> 4.5 </span>از 5
                        </small>
                        <span class="text-muted mx-3">|</span> 
                       <small> <span>83.6</span>% رضایت از کالا </small> 
                      </div> -->
                    </div>
                  </div>
                </div>
                <div class="col d-none d-lg-block">
                  <div class="inventory d-flex align-items-center mx-2">
                    <i class="fas fa-home text-muted ml-3"></i>
                    <div class="flex-grow-1">
                      <div>
                        {{defaultPrice.qty > 0 ? 'موجود در انبار' : 'ناموجود'}}
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-4 col-lg-3">
                  <div class="final-price d-flex justify-content-center">
                    <span class="h3 mb-0">
                      {{ defaultPrice.disCountPrice | number }}</span
                    >
                    <span class="symbol pr-2 font-regular">تومان</span>
                  </div>
                </div>
                <div class="col-3">
                  <button
                    [ngClass]="{'disabled': defaultPrice.qty < 0}"
                    class="btn btn-primary btn-block"
                  >
                    {{defaultPrice.qty > 0 ? 'افزودن به سبد' : 'ناموجود'}}
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row mb-5">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <products-slider
                [products]="relatedProducts$ | async"
                title="محصولات مشابه"
              ></products-slider>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <ul class="nav nav-tabs p-0" #navs>
            <li class="nav-item">
              <a
                class="nav-link active"
                (click)="onClickTab($event,tabPans,navs,'analyze')"
                >نقد و بررسی</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                (click)="onClickTab($event,tabPans,navs,'fields')"
                >مشخصات</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                (click)="onClickTab($event,tabPans,navs,'comments')"
                >نظرات کاربران</a
              >
            </li>
          </ul>
          <div class="tab-content bg-white shadow-sm rounded-bottom" #tabPans>
            <div class="tab-pane fade show active analyze">
              <div class="container-fluid">
                <div class="row py-5">
                  <div class="col-12">{{productDescription$ | async}}</div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade fields">
              <div class="container-fluid py-5">
                <div
                  class="row mb-2 align-items-stretch field"
                  *ngFor="let field of productFields$ | async"
                >
                  <div class="col-md-3 field-name">
                    <div class="px-3 py-2">{{field.attributeTitle}}</div>
                  </div>
                  <div class="col-md-9 field-value">
                    <ng-container
                      *ngIf="field.attributeTypeId == 6;else attributesCheckboxValue"
                    >
                      <ul class="px-3 py-2 mb-0">
                        <li
                          *ngFor="let listValueItem of field.value.split(',')"
                        >
                          {{listValueItem}}
                        </li>
                      </ul>
                    </ng-container>
                    <ng-template #attributesCheckboxValue>
                      <ng-container
                        *ngIf="field.attributeTypeId == 7;else attributesTextValue"
                      >
                        <div class="px-3 py-2">
                          {{field.value == 'true' ? 'بله' : 'خیر'}}
                        </div>
                      </ng-container>
                    </ng-template>
                    <ng-template #attributesTextValue>
                      <div class="px-3 py-2">{{field.value }}</div>
                    </ng-template>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade comments">
              <div class="container-fluid">
                <div class="row py-5">
                  <div class="col-lg-6 mb-3 mb-lg-0">
                    <h4 class="h5 mb-3">امتیاز کاربران به :</h4>
                    <p class="mb-5">
                      دو پرفیوم زنانه امپر مدل Gorgeous In Red حجم 80 میلی لیتر
                    </p>
                    <!-- <div class="bar-row d-flex align-items-center font-light">
                      <span>نسبت به قیمت</span>
                      <div class="bar-container">
                        <div [style.width.%]="50" class="bar"></div>
                      </div>
                      <span class="mr-4">خوب</span>
                    </div>
                    <div class="bar-row d-flex align-items-center font-light">
                      <span>ارزش خرید نسبت به قیمت</span>
                      <div class="bar-container">
                        <div [style.width.%]="50" class="bar"></div>
                      </div>
                      <span class="mr-4">خوب</span>
                    </div>
                    <div class="bar-row d-flex align-items-center font-light">
                      <span>ارزش خرید نسبت به قیمت</span>
                      <div class="bar-container">
                        <div [style.width.%]="50" class="bar"></div>
                      </div>
                      <span class="mr-4">خوب</span>
                    </div> -->
                  </div>
                  <div class="col-lg-6">
                    <h5>شما هم می‌توانید در مورد این کالا نظر بدهید.</h5>
                    <button class="btn btn-primary btn-dark px-4 py-2">
                      افزودن نظر
                    </button>
                  </div>
                </div>
                <div class="row py-5">
                  <div class="col-12">
                    <h5 class="border-bottom h6 pb-3 font-light">
                      نظرات کاربران
                    </h5>
                    <div class="row py-3">
                      <div class="col-4">
                        <p class="mb-3">نام خریدار</p>
                        <p class="mb-3">در تاریخ 1399/05/08</p>
                        <div class="alert alert-primary mb-3" role="alert">
                          توصیه میکنم
                        </div>
                        <div>
                          فروشنده : <span class="font-bold">دیجیکالا</span>
                        </div>
                      </div>
                      <div class="col-8">
                        <h5 class="border-bottom pb-3">عنوان نظر</h5>
                        <p>متن نظر</p>
                        <!-- <div class="feedback d-flex align-items-center">
                          <small class="font-light"
                            >آیا این نظر برایتان مفید بود؟
                          </small>
                          <div class="buttons">
                            <small class="border rounded-lg p-1 mx-2 font-light"
                              >0 بله</small
                            >
                            <small class="border rounded-lg p-1 mx-2 font-light"
                              >0 خیر</small
                            >
                          </div>
                        </div> -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
