<div class="container-fluid">
  <div class="row">
    <div class="container">
      <div class="row mb-5">
        <div class="col-12">
          <div class="wrapper">
            <div
              class="container-fluid rounded-lg shadow-sm bg-white py-5 px-3 mt-5"
            >
              <div class="row">
                <div class="col-3">
                  <div class="image-wrapper">
                    <img
                      class="img-fluid"
                      src="https://via.placeholder.com/392x392"
                      alt=""
                    />
                  </div>
                </div>

                <div class="col-5">
                  <h6>مبدل Micro USB به کانکتور USB-C هوآوی مدل Redukc</h6>
                  <small class="text-muted">
                    Huawei Redukc Micro USB to Type C Adapter
                  </small>

                  <div class="feedbacks d-flex align-items-center text-primary">
                    <div class="rates">
                      <i class="fa fa-star fa-sm text-warning ml-1"></i>
                      <small>4 <small class="text-muted"> (201) </small></small>
                    </div>
                    <span class="mx-3">|</span>
                    <div class="visions">
                      <small>149 دیدگاه کاربران</small>
                    </div>
                  </div>

                  <div class="info d-flex align-items-center mb-5">
                    <small class="brand">
                      <span>برند : </span>
                      <a href=""><span>Adidas</span></a>
                    </small>
                    <small class="category mr-4">
                      <span>دسته بندی : </span>
                      <a href=""><span>کیف و کفش</span></a>
                    </small>
                  </div>

                  <div class="choose-color">
                    <span>انتخاب رنگ : </span>
                    <div class="colors d-flex flex-wrap">
                      <span
                        class="color d-flex align-items-center border rounded-lg px-3 ml-2"
                      >
                        <span
                          class="rounded-circle ml-1"
                          style="
                            width: 16px;
                            height: 16px;
                            background-color: red;
                          "
                        ></span>
                        <span>قرمز</span>
                      </span>
                      <span
                        class="color d-flex align-items-center border rounded-lg px-3 ml-2"
                      >
                        <span
                          class="rounded-circle ml-1"
                          style="
                            width: 16px;
                            height: 16px;
                            background-color: red;
                          "
                        ></span>
                        <span>قرمز</span>
                      </span>
                    </div>
                  </div>
                </div>

                <div class="col-4">
                  <div class="row">
                    <div class="col-12">
                      <div class="wrapper bg-light border px-3 rounded-lg">
                        <div
                          class="seller d-flex align-items-center border-bottom mx-2 py-2"
                        >
                          <i class="fas fa-home text-muted ml-3"></i>
                          <div class="seller-info flex-grow-1">
                            <div>
                              <span>فروشنده : </span>
                              <span class="font-bold">ماکو</span>
                            </div>
                            <div class="function">
                              <small>
                                <span>عملکرد : </span><span> 4.5 </span>از 5
                              </small>
                              <span class="text-muted mx-3">|</span>
                              <small> <span>83.6</span>% رضایت از کالا </small>
                            </div>
                          </div>
                        </div>

                        <div
                          class="warranty d-flex align-items-center border-bottom mx-2 py-2"
                        >
                          <i class="fas fa-home text-muted ml-3"></i>
                          <span>گارانتی اصالت و سلامت فیزیکی کالا</span>
                        </div>

                        <div
                          class="inventory d-flex align-items-center border-bottom mx-2 py-2"
                        >
                          <i class="fas fa-home text-muted ml-3"></i>
                          <div class="flex-grow-1">
                            <div>موجود در انبار</div>
                            <small class="text-muted">
                              ارسال توسط فروشگاه</small
                            >
                          </div>
                        </div>

                        <div class="price py-2">
                          <div
                            class="d-flex align-items-center justify-content-end"
                          >
                            <del class="first-price">{{ 15200 | number }} </del>
                            <div class="discount rounded-pill mr-2">18%</div>
                          </div>
                          <div class="final-price d-flex justify-content-end">
                            <span class="h3"> {{ 10000 | number }} </span>
                            <span class="symbol pr-2 font-regular">تومان</span>
                          </div>
                          <div class="best-price">
                            <i class="fas fa-check ml-2 text-success fa-sm"></i>
                            <small>بهترین قیمت ۳۰ روز گذشته</small>
                          </div>
                        </div>

                        <button class="btn btn-block btn-primary my-2">
                          افزودن به سبد خرید
                        </button>

                        <div class="other-sellers py-2">
                          <div
                            class="d-flex justify-content-between align-items-center"
                          >
                            <span>
                              <span class="font-bold">3 فروشنده</span> دیگر این
                              کالا
                            </span>
                            <small> <a href="">مشاهده</a></small>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <h6 class="font-regular">لیست فروشنده / گارانتی‌های این محصول</h6>
        </div>
        <div class="container-fluid">
          <div class="row align-items-center">
            <div class="col">
              <div class="seller d-flex align-items-center">
                <i class="fas fa-home text-muted"></i>
                <div class="seller-info flex-grow-1">
                  <div>
                    <span>فروشنده : </span> <span class="font-bold">ماکو</span>
                  </div>
                  <div class="function">
                    <small> <span>عملکرد : </span><span>4.5</span>از 5 </small>
                    <span class="text-muted mx-2">|</span>
                    <small> <span>83.6</span>% رضایت از کالا </small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-2">
              <div class="inventory d-flex align-items-center">
                <i class="fas fa-home text-muted"></i>
                <div class="flex-grow-1">
                  <div>موجود در انبار</div>
                  <small class="text-muted"> ارسال توسط فروشگاه</small>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="warranty d-flex align-items-center">
                <i class="fas fa-home text-muted"></i>
                <span>گارانتی اصالت و سلامت فیزیکی کالا</span>
              </div>
            </div>
            <div class="col-2">
              <span class="h3"> {{ 10000 | number }} </span>
              <span class="pr-2 font-regular">تومان</span>
            </div>
            <div class="col-2">
              <button class="btn btn-primary">افزودن به سبدخرید</button>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <products-slider
                [products]="products"
                title="محصولات پربازدید اخیر"
              ></products-slider>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <ul class="nav nav-tabs p-0">
            <li class="nav-item">
              <a class="nav-link active">نقد و بررسی</a>
            </li>
            <li class="nav-item">
              <a class="nav-link">مشخصات</a>
            </li>
            <li class="nav-item">
              <a class="nav-link">نظرات کاربران</a>
            </li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane fade">1</div>
            <div class="tab-pane fade show active">2</div>
            <div class="tab-pane fade">3</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
