@import "mixins";
.nav-link {
  cursor: pointer;
}

.border-dashed {
  border-bottom: 1px dashed;
}

.field {
  .field-name {
    background: #f9f9f9;
  }
  .field-value {
    background: #f3f3f3;
  }
}
.discount {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $secondary;
  font-weight: 400;
  color: rgb(37, 37, 37);
  min-width: 43px;
  height: 23px;
}

p-galleria ::ng-deep .ui-galleria-thumbnail-container {
  background-color: transparent;
  border: 1px solid #dee2e6;
  border-radius: 0.3rem;
  margin-top: 1rem;
  padding: 0.5rem 0;
}

.comments {
  .border-bottom {
    border-color: #eee !important;
  }
  .row.border-bottom {
    &:last-child {
      border-bottom: 0 !important;
    }
  }
}
