<div class="container-fluid">
  <div class="row">
    <div class="container">
      <div class="row mb-5">
        <div class="col-12">
          <div class="wrapper">
            <div
              class="container-fluid rounded-lg shadow-sm bg-white py-4 px-3"
            >
              <div class="row justify-content-center">
                <div class="col-sm-8 col-lg-4 col-xl-4 mb-4 mb-lg-0">
                  <p-galleria
                    *ngIf="productImages"
                    dir="ltr"
                    [value]="productImages"
                    [responsiveOptions]="responsiveOptions"
                    [numVisible]="5"
                  >
                    <ng-template pTemplate="item" let-item>
                      <img
                        *ngIf="item.keyMedia | safe | async as image;else loading"
                        [alt]="productInfo?.name"
                        [src]="image"
                        class="w-100"
                      />
                      <ng-template #loading>
                        <img src="assets/images/loader.gif" />
                      </ng-template>
                    </ng-template>
                    <ng-template pTemplate="thumbnail" let-item>
                      <div
                        class="p-grid p-nogutter p-justify-center text-center"
                      >
                        <img
                          [alt]="productInfo?.name"
                          [src]="(item.keyMedia | safe | async) || 'assets/images/loader.gif'"
                          class="w-75"
                        />
                      </div>
                    </ng-template>
                  </p-galleria>
                </div>
                <div class="col-lg-4 col-xl-5 col-md-7 mb-4 mb-lg-0">
                  <ng-container *ngIf="productInfo">
                    <h6>{{productInfo.name}}</h6>
                    <small class="text-muted"> {{productInfo.nameEn}} </small>

                    <div
                      class="feedbacks d-flex align-items-center text-primary"
                    >
                      <div class="visions">
                        <small
                          >{{productInfo.commentCount}} دیدگاه کاربران</small
                        >
                      </div>
                    </div>

                    <div class="info d-flex align-items-center my-4">
                      <small class="brand">
                        <span>برند : </span>
                        <span>{{productInfo.brandTitle}}</span>
                      </small>
                      <small class="category mr-4">
                        <span>دسته بندی : </span>
                        <a
                          [routerLink]="['/products/subcategory/', productInfo.categoryId, productInfo.categoryTitle]"
                          class="border-dashed"
                        >
                          <span>{{productInfo.categoryTitle}}</span>
                        </a>
                      </small>
                    </div>
                  </ng-container>
                  <prm-input-dropdown
                    *ngIf="availableColors[0] && defaultPrice.qty > 0"
                    (onChange)="onColorChange($event)"
                    [placeholder]="null"
                    labelWidth="110"
                    [showClear]="false"
                    label="انتخاب رنگ"
                    [value]="availableColors[0].value"
                    [items]="availableColors"
                  ></prm-input-dropdown>
                </div>
                <div class="col-lg-4 col-xl-3 col-md-5">
                  <div class="row" *ngIf="defaultPrice">
                    <div class="col-12">
                      <div class="wrapper bg-light border px-3 rounded-lg">
                        <div
                          *ngIf="defaultPrice.qty > 0"
                          class="seller d-flex align-items-center border-bottom py-2"
                        >
                          <i class="fas fa-store text-muted ml-3"></i>
                          <div class="seller-info flex-grow-1">
                            <div class="fa-sm">
                              <span>فروشنده : </span>
                              <span class="font-bold"
                                >{{defaultPrice.storeTitle}}</span
                              >
                            </div>
                          </div>
                        </div>

                        <div
                          *ngIf="defaultPrice.qty > 0"
                          class="warranty d-flex align-items-center border-bottom py-2"
                        >
                          <i class="fas fa-shield-check text-muted ml-3"></i>
                          <span class="fa-sm"
                            >{{defaultPrice.warrantyTitle}}</span
                          >
                        </div>

                        <div
                          class="inventory d-flex align-items-center border-bottom py-2"
                        >
                          <i class="fas fa-save text-muted ml-3"></i>
                          <div class="flex-grow-1">
                            <div class="fa-sm">
                              {{defaultPrice.qty > 0 ? 'موجود در انبار' :
                              'ناموجود'}}
                            </div>
                          </div>
                        </div>

                        <div class="price py-4" *ngIf="defaultPrice.qty > 0">
                          <ng-container *ngIf="defaultPrice.disCountPrice">
                            <div
                              class="d-flex align-items-center justify-content-end"
                            >
                              <del class="first-price text-muted"
                                >{{ defaultPrice.price | number }}
                              </del>
                              <div class="discount rounded-pill mr-2">
                                {{discountPersent| number :'1.0-0'}}%
                              </div>
                            </div>
                            <div
                              class="final-price d-flex justify-content-end align-items-center"
                            >
                              <span class="h2 mb-0">
                                {{ defaultPrice.disCountPrice | number }}
                              </span>
                              <span class="symbol pr-2 font-regular fa-sm"
                                >تومان</span
                              >
                            </div>
                          </ng-container>
                          <ng-container *ngIf="!defaultPrice.disCountPrice">
                            <div
                              class="final-price d-flex justify-content-end align-items-center"
                            >
                              <span class="h2 mb-0">
                                {{ defaultPrice.price | number }}
                              </span>
                              <span class="symbol pr-2 font-regular fa-sm"
                                >تومان</span
                              >
                            </div>
                          </ng-container>
                        </div>

                        <button
                          (click)="onAddToCardByDefaultPrice()"
                          [ngClass]="{'disabled': defaultPrice.qty < 0}"
                          class="btn btn-block btn-lg btn-primary my-2"
                        >
                          {{defaultPrice.qty > 0 ? 'افزودن به سبد خرید' :
                          'ناموجود'}}
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row mb-5">
        <div class="col-12">
          <h6 class="font-regular mb-4">
            لیست فروشنده / گارانتی‌های این محصول
          </h6>
        </div>
        <div class="col-12">
          <div class="rounded-lg shadow-sm bg-white px-2">
            <div
              class="container-fluid py-2 border-bottom"
              *ngFor="let price of productPrices"
            >
              <div class="row align-items-center">
                <div class="col-5 col-lg">
                  <div class="seller d-flex align-items-center mx-2">
                    <i class="fas fa-store text-muted ml-3"></i>
                    <div class="seller-info flex-grow-1">
                      <div>
                        <span>فروشنده : </span>
                        <span class="font-bold">{{price.storeTitle}}</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col d-none d-lg-block">
                  <div class="inventory d-flex align-items-center mx-2">
                    <i class="fas fa-save text-muted ml-3"></i>
                    <div class="flex-grow-1">
                      <div>
                        {{price.qty > 0 ? 'موجود در انبار' : 'ناموجود'}}
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-4 col-lg-3">
                  <div class="final-price d-flex justify-content-center">
                    <span class="h3 mb-0">
                      {{ price.disCountPrice || price.price | number }}</span
                    >
                    <span class="symbol pr-2 font-regular">تومان</span>
                  </div>
                </div>
                <div class="col-3">
                  <button
                    (click)="onAddToCardByOtherPrice(price.id)"
                    [ngClass]="{'disabled': price.qty < 0}"
                    class="btn btn-primary btn-block"
                  >
                    {{price.qty > 0 ? 'افزودن به سبد' : 'ناموجود'}}
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row mb-5">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <products-slider
                [products]="relatedProducts$ | async"
                title="محصولات مشابه"
              ></products-slider>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <ul class="nav nav-tabs p-0" #navs>
            <li class="nav-item">
              <a
                class="nav-link active"
                (click)="onClickTab($event,tabPans,navs,'analyze')"
                >نقد و بررسی</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                (click)="onClickTab($event,tabPans,navs,'fields')"
                >مشخصات</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                (click)="onClickTab($event,tabPans,navs,'comments')"
                >نظرات کاربران</a
              >
            </li>
          </ul>
          <div class="tab-content bg-white shadow-sm rounded-bottom" #tabPans>
            <div class="tab-pane fade show active analyze">
              <div class="container-fluid">
                <div class="row py-5">
                  <div class="col-12">{{productDescription$ | async}}</div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade fields">
              <div class="container-fluid py-5">
                <div
                  class="row mb-2 align-items-stretch field"
                  *ngFor="let field of productFields$ | async"
                >
                  <div class="col-md-3 field-name">
                    <div class="px-3 py-2">{{field.attributeTitle}}</div>
                  </div>
                  <div class="col-md-9 field-value">
                    <ng-container
                      *ngIf="field.attributeTypeId == 6;else attributesCheckboxValue"
                    >
                      <ul class="px-3 py-2 mb-0">
                        <li
                          *ngFor="let listValueItem of field.value.split(',')"
                        >
                          {{listValueItem}}
                        </li>
                      </ul>
                    </ng-container>
                    <ng-template #attributesCheckboxValue>
                      <ng-container
                        *ngIf="field.attributeTypeId == 7;else attributesTextValue"
                      >
                        <div class="px-3 py-2">
                          {{field.value == 'true' ? 'بله' : 'خیر'}}
                        </div>
                      </ng-container>
                    </ng-template>
                    <ng-template #attributesTextValue>
                      <div class="px-3 py-2">{{field.value }}</div>
                    </ng-template>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade comments">
              <div class="container-fluid">
                <div
                  class="row pt-5 pb-4 justify-content-between align-items-center"
                >
                  <div class="col-10 col-md-8">
                    <h5 class="mb-0">
                      شما هم می‌توانید در مورد این کالا نظر بدهید.
                    </h5>
                  </div>
                  <div
                    class="col-5 mt-3 mt-md-0 col-sm-4 col-md-3 col-lg-2 text-nowrap"
                  >
                    <button
                      class="btn btn-primary btn-dark btn-lg"
                      (click)="addCommentClick()"
                    >
                      افزودن نظر
                    </button>
                  </div>
                </div>
                <div class="row py-5 comments">
                  <div class="col-12">
                    <h5 class="border-bottom h6 pb-3 font-light">
                      نظرات کاربران
                    </h5>
                    <ng-container *ngIf="productComments.length != 0">
                      <div
                        class="row py-5 border-bottom"
                        *ngFor="let comment of productComments"
                      >
                        <div class="col-4">
                          <p class="mb-3 font-medium">
                            {{comment.firstName + ' ' + comment.lastName}}
                          </p>
                          <p class="mb-3 small">
                            در تاریخ {{comment.insertDate}}
                          </p>
                        </div>
                        <div class="col-8">
                          <h6 class="border-bottom pb-3">{{comment.title}}</h6>
                          <p class="small">{{comment.description}}</p>
                          <div
                            class="w-100 mt-3 d-flex flex-column flex-md-row align-items-start align-items-md-center justify-content-around"
                          >
                            <div *ngIf="comment.gainPoints">
                              <p class="text-success mb-0 small">نقاط قوت :</p>
                              <ul>
                                <li
                                  class="font-light small"
                                  *ngFor="let gain of comment.gainPoints"
                                >
                                  {{gain}}
                                </li>
                              </ul>
                            </div>
                            <div *ngIf="comment.weakPoints">
                              <p class="text-danger mb-0 small">نقاط ضعف :</p>
                              <ul>
                                <li
                                  class="font-light small"
                                  *ngFor="let weak of comment.weakPoints"
                                >
                                  {{weak}}
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </ng-container>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-container *ngIf="showCommentDialog">
  <p-dialog
    [(visible)]="showCommentDialog"
    [header]="'افزودن نظر برای ' + productInfo?.name"
    [modal]="true"
    [draggable]="false"
    [blockScroll]="true"
    [style]="{ width: '800px'}"
  >
    <div class="container-fluid">
      <form
        [formGroup]="commentForm"
        class="form-row justify-content-around"
        (ngSubmit)="onSubmitComment()"
      >
        <div
          formArrayName="points"
          class="col-md-5 mb-4"
          *ngFor="let point of productPoints;let i = index"
        >
          <div [formGroupName]="i">
            <label>{{point.title}}</label>
            <div class="d-flex w-100 align-items-center">
              <p class="p-0 ml-3">{{(point.control.value[i].pointValue)/20}}</p>
              <p-slider
                formControlName="pointValue"
                class="d-block flex-grow-1"
                [step]="20"
              ></p-slider>
            </div>
          </div>
        </div>
        <div class="col-12 mb-4">
          <prm-input-text
            formControlName="title"
            label="عنوان نظر"
            labelPosition="top"
            [errors]="[{type:'required',message:'این فیلد الزامیست'}]"
          ></prm-input-text>
        </div>

        <div class="col-md-6 mb-4">
          <prm-input-tags
            formControlName="gainPoints"
            hint="تایپ کنید و enter بزنید"
            label="نقاط قوت"
            labelPosition="top"
          ></prm-input-tags>
        </div>
        <div class="col-md-6 mb-4">
          <prm-input-tags
            formControlName="weakPoints"
            hint="تایپ کنید و enter بزنید"
            label="نقاط ضعف"
            labelPosition="top"
          ></prm-input-tags>
        </div>
        <div class="col-12 mb-3">
          <prm-input-textarea
            formControlName="description"
            [errors]="[{type:'required',message:'این فیلد الزامیست'}]"
            label="توضیحات"
            labelPosition="top"
          ></prm-input-textarea>
        </div>

        <div class="col-12 border-top text-left py-3">
          <button type="submit" class="btn btn-primary">ثبت نظر</button>
        </div>
      </form>
    </div>
  </p-dialog>
</ng-container>
